@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var data = ViewBag.Message;
}
<div class="container">
    <div style="position: relative;">
        <h2 style="text-align: center;">My Queries</h2>
    </div>

    <br />
    <div class="container-fluid table_view">
        <div style="float: right;">
            <input type="button" class="btn btn-primary defaultButton" value="Raise Query" onclick="location.href='@Url.Action("ServiceCentre", "Service")'" />
        </div>
        <br />
        <br />
        <table class="table" id="queryTable">
            <thead>
                <tr style="background: #98cad0;">
                    <th scope="col">Ticket Number</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Registered On</th>
                    <th scope="col">Turn Around Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var qry in (IEnumerable<Queries>)ViewData["QueryData"])
                {
                    <tr class="table_row">
                        <td>@Html.ActionLink(@qry.ticketnumber, "QueryInfo", new { Id = @qry.id })</td>
                        <td>@qry.category</td>
                        <td>@qry.status</td>
                        <td>@qry.createdon</td>
                        <td>@qry.resolutiontime</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="card_view container-fluid">
        <div style="float: right;">
            <input type="button" class="btn btn-primary defaultButton" value="Raise Query" onclick="location.href='@Url.Action("ServiceCentre", "Service")'" />
        </div>
        <br />
        @foreach (var qry in (IEnumerable<Queries>)ViewData["QueryData"])
        {
            <div class="card card_detail">
                <div class="card-header"><h3>@qry.ticketnumber</h3></div><br />
                <div class="card-body">
                    <h4 class="card-title"><b>Category: </b>@qry.category</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="card-text"><b>Status: </b>@qry.status</p>
                        </div>

                    </div>

                    @Html.ActionLink("Select", "QueryInfo", new { Id = @qry.id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>
