@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">My Queries</h2>
    </div>
    <br />
    <div class="container-fluid table_view">
        <table class="table">
            <thead>
                <tr style="background: powderblue;">
                    <th scope="col">Ticket Number</th>
                    <th scope="col">Regarding</th>
                    <th scope="col">Query</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var qry in (IEnumerable<Queries>)ViewData["QueryData"])
                {
                <tr class="table_row">
                    <td>@Html.ActionLink(@qry.ticketnumber, "QueryInfo", new { Id = @qry.id })</td>
                    <td>@qry.query</td>
                    <td>@qry.regarding</td>
                    <td>@qry.status</td>
                </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="card_view container-fluid">
        @foreach (var qry in (IEnumerable<Queries>)ViewData["QueryData"])
        {
            <div class="card card_detail">
                <div class="card-header"><h3>@qry.ticketnumber</h3></div><br />
                <div class="card-body">
                    <h4 class="card-title"><b>Regarding: </b>@qry.regarding</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="card-text"><b>Query: </b>@qry.query</p>
                        </div>
                        
                    </div>
                    
                    @Html.ActionLink("Select", "QueryInfo", new { Id = @qry.id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>
