@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "ServiceCentre";
}
<div class="container">       
    <div id="header-service-centre" class="header-service-centre">
        <img class="service-img" src="~/contactus-banner.jpg" />
        <br />
        <div class="help-text">Need Help ?</div>
        <br />
        <div class="div_button"><a class="btn btn-light button_service" href="/Service/Queries?Length=7" style="padding-top: 13px;">My Queries</a></div>
        <div class="div_button"><button id="button_general" type="button" class="btn btn-light button_service">General Queries</button></div>
        <div class="div_button"><button id="button_application" type="button" class="btn btn-light button_service">Applications</button></div>
        <div class="div_button"><button id="button_agreement" type="button" class="btn btn-light button_service">Agreements</button></div>
        <div class="div_button"><button id="button_loantype" type="button" class="btn btn-light button_service">Loan Types</button></div>
    </div>
    <div id="header_button_general" style="display:none;">
        <div class="back_button"><button id="check_button_general" type="button" class="btn btn-light back">Back</button></div>
        <br />
        <div class="header_text">General Queries</div>
        <br />
        <form method="post" action="~/Service/Submit_general">
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Fullname" id="label_Fullname">Full Name</label>
                    <input id="Fullname" class="form-input inp" placeholder="Full Name" name="Fullname" value="@ViewData["fullname"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Mobile" id="label_Mobile">Mobile</label>
                    <input id="Mobile" class="form-input inp" placeholder="Mobile" name="Mobile" value="@ViewData["mobile"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Email" id="label_Email">Email</label>
                    <input id="Email" class="form-input inp" placeholder="Email" name="Email" value="@ViewData["email"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Fullname" id="label_Fullname">Your Query</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea cols="100" rows="7" name="general"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input id="submit" class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <div id="header_button_application" style="display:none;">
        <div class="back_button"><button id="check_button_application" type="button" class="btn btn-light back">Back</button></div>
        <div class="header_text">Applications</div>
        <br />
        <form method="post" action="~/Service/Submit_application">
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Fullname" id="label_Fullname">Full Name</label>
                    <input id="Fullname" class="form-input inp" placeholder="Full Name" name="Fullname" value="@ViewData["fullname"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Mobile" id="label_Mobile">Mobile</label>
                    <input id="Mobile" class="form-input inp" placeholder="Mobile" name="Mobile" value="@ViewData["mobile"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Email" id="label_Email">Email</label>
                    <input id="Email" class="form-input inp" placeholder="Email" name="Email" value="@ViewData["email"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <select id="application_select" class="form-input" required>
                        <option value="-1">Select Application </option>
                        @if (ViewData["ApplicationData"] != null)
                        {
                            foreach (var apln in (IEnumerable<Applications>)ViewData["ApplicationData"])
                            {
                                <option alt="@apln.productId" value="@apln.id">@apln.number</option>
                            }
                        }
                    </select>
                    <select id="aplntype" class="form-input" required>
                        <option value="-1">Category</option>
                        <option value="3144c850-ce51-4ecb-995b-53f24ae4dc8a">Issue</option>
                        <option value="0800bc31-45ad-4750-aee9-117b01f7f578">Service Request</option>
                    </select>
                    <select id="apln_services" class="form-input" required>

                        <option value="-1">Related Services</option>
                        @if (ViewData["Product_Service"] != null)
                        {
                            foreach (var prser in (IEnumerable<Product_Services>)ViewData["Product_Service"])
                            {
                                <option alt="@prser.productId" value="@prser.serviceId">@prser.servicename</option>
                            }
                        }
                    </select>

                    <input hidden id="appl_ser" class="form-input" placeholder="Application" name="appl_ser" />
                    <input hidden id="aplnser_type" class="form-input" placeholder="type" name="aplnser_type" />
                    <input hidden id="application_num" class="form-input" placeholder="Application" name="apln_id" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="" id="label">Your Query</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea cols="80" rows="7" name="application"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input id="submit" class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <div id="header_button_agreement" style="display:none;">
        <div class="back_button"><button id="check_button_agreement" type="button" class="btn btn-light back">Back</button></div>
        <div class="header_text">Agreements</div>
        <br />
        <form method="post" action="~/Service/Submit_agreement">
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Fullname" id="label_Fullname">Full Name</label>
                    <input id="Fullname" class="form-input inp" placeholder="Full Name" name="Fullname" value="@ViewData["fullname"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Mobile" id="label_Mobile">Mobile</label>
                    <input id="Mobile" class="form-input inp" placeholder="Mobile" name="Mobile" value="@ViewData["mobile"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Email" id="label_Email">Email</label>
                    <input id="Email" class="form-input inp" placeholder="Email" name="Email" value="@ViewData["email"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <select id="agreement_select" class="form-input" required>
                        <option value="-1">Select Agreement </option>
                        @if (ViewData["AgreementData"] != null)
                        {
                            foreach (var agr in (IEnumerable<Agreements>)ViewData["AgreementData"])
                            {
                                <option alt="@agr.productId" value="@agr.id">@agr.number</option>
                            }
                        }
                    </select>
                    <select id="agrm_type" class="form-input" required>
                        <option value="-1">Category</option>
                        <option value="3144c850-ce51-4ecb-995b-53f24ae4dc8a">Issue</option>
                        <option value="0800bc31-45ad-4750-aee9-117b01f7f578">Service Request</option>
                    </select>
                    <select id="agrm_services" class="form-input" required>

                        <option value="-1">Related Services</option>
                        @if (ViewData["Product_Service"] != null)
                        {
                            foreach (var prser in (IEnumerable<Product_Services>)ViewData["Product_Service"])
                            {
                                <option alt="@prser.productId" value="@prser.serviceId">@prser.servicename</option>
                            }
                        }
                    </select>
                    <input hidden id="agrm_ser" class="form-input" placeholder="Aggreement" name="agrm_ser" />
                    <input hidden id="agrmser_type" class="form-input" placeholder="type" name="agrmser_type" />
                    <input hidden id="agreement_num" class="form-input" placeholder="Agreement" name="agr_id" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Fullname" id="label_Fullname">Your Query</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea cols="80" rows="7" name="agreement"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input id="submit" class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <div id="header_button_loantype" style="display:none;">
        <div class="back_button"><button id="check_button_loantype" type="button" class="btn btn-light back">Back</button></div>
        <div class="header_text">Loan Types</div>
        <br />
        <form method="post" action="~/Service/Submit_product">
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Fullname" id="label_Fullname">Full Name</label>
                    <input id="Fullname" class="form-input inp" placeholder="Full Name" name="Fullname" value="@ViewData["fullname"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Mobile" id="label_Mobile">Mobile</label>
                    <input id="Mobile" class="form-input inp" placeholder="Mobile" name="Mobile" value="@ViewData["mobile"]" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Email" id="label_Email">Email</label>
                    <input id="Email" class="form-input inp" placeholder="Email" name="Email" value="@ViewData["email"]" readonly="readonly">
                </div>
            </div>
           <div class="row">
               <div class="col-md-6">
                   <select id="product_select" class="form-input" required>
                       <option value="-1">Select Product </option>
                       @if (ViewData["ProductsData"] != null)
                       {
                           foreach (var prdct in (IEnumerable<Products>)ViewData["ProductsData"])
                           {
                               <option value="@prdct.id">@prdct.name</option>
                           }
                       }
                   </select>
                   <select id="type" class="form-input" required>
                       <option value="-1">Category</option>
                       <option value="3144c850-ce51-4ecb-995b-53f24ae4dc8a">Issue</option>
                       <option value="0800bc31-45ad-4750-aee9-117b01f7f578">Service Request</option>
                   </select>
                   <select id="services" class="form-input" required>

                       <option value="-1">Related Services</option>
                       @if (ViewData["Product_Service"] != null)
                       {
                           foreach (var prser in (IEnumerable<Product_Services>)ViewData["Product_Service"])
                           {
                               <option alt="@prser.productId" value="@prser.serviceId">@prser.servicename</option>
                           }
                       }
                   </select>

                   <input hidden id="prd_service" class="form-input" placeholder="type" name="prd_service" />
                   <input hidden id="ser_type" class="form-input" placeholder="type" name="type_id" />
                   <input hidden id="product_name" class="form-input" placeholder="Product" name="prdct_id" />
               </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="label_inp" for="Fullname" id="label_Fullname">Your Query</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea cols="80" rows="7" name="product"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input id="submit" class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>
@Scripts.Render("~/Scripts/Service.js")

