@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "About";
}
@{
    var data = ViewBag.Message;
}
<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">Personal Information</h2>
    </div>
    <br />
    <div class="container-fluid">
        <form method="post" action="/Home/On_Save">
            <div class="form-card">
                <div class="row">
                    <div class="col-md-12">
                        <input id="Fullname" class="form-input" placeholder="Full Name" name="Fullname" value="@data.Fullname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input id="email" class="form-input" placeholder="Email" value="@data.Email" readonly="readonly">
                    </div>
                    <div class="col-md-6">
                        <input id="mobile" class="form-input" placeholder="Mobile" value="@data.Mobile" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input id="firstname" class="form-input" placeholder="First Name" name="firstname" value="@data.firstname" required />
                    </div>
                    <div class="col-md-4">
                        <input id="middlename" class="form-input" placeholder="Middle Name" name="middlename" value="@data.middlename" required />
                    </div>
                    <div class="col-md-4">
                        <input id="lastname" class="form-input" placeholder="Last Name" name="lastname" value="@data.lastname" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <select id="gender_select" class="form-input" required>
                            <option value="-1">Gender</option>
                            <option value="eeac42ee-65b6-df11-831a-001d60e938c6">Male</option>
                            <option value="fc2483f8-65b6-df11-831a-001d60e938c6">Female</option>
                            <option value="a0ed5db4-de27-442e-bee7-dd97a723e11d">Others</option>
                        </select>
                        <input hidden id="gender" class="form-input" placeholder="Gender" name="gender" value="@data.gender" />
                    </div>
                    <div class="col-md-6">
                        <select id="marital_select" class="form-input">
                            <option value="-1">Marital Status</option>
                            <option value="c8a659bc-5539-4a95-bd94-ac9fba2afa4c">Single</option>
                            <option value="a4115632-310a-47c8-b68f-88c635fa3906">Married</option>
                            <option value="332b97f3-9b78-4a1d-8a37-526f98ecd832">Separated</option>
                            <option value="e050c2d8-34ba-4f49-a9e8-c40b48402c81">Default</option>
                            <option value="5689b458-fa2a-4c0c-ac67-c4e4be483304">Widow</option>
                            <option value="deeb6357-355e-4f29-bc4c-ddb7a8e62b51">Divorced</option>
                        </select>
                        <input hidden id="maritalstatus" class="form-input" placeholder="MaritalStatus" name="maritalstatus" value="@data.maritalstatus" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <select id="employment_select" class="form-input">
                            <option value="-1">Employment Type</option>
                            <option value="9d23b181-c6c9-4acf-9b63-781c25fb598d">Default</option>
                            <option value="b3c99f10-eea6-4f33-b41e-70a74b3712bf">Salaried</option>
                            <option value="9260cab0-c7c1-4e17-92de-7d7db752546a">Self-Employed Businessman</option>
                            <option value="c1637f70-b829-4357-b9da-b91dc022e265">Self-Employed Professional</option>
                        </select>
                        <input hidden id="employmenttype" class="form-input" placeholder="Employment" name="employmenttype" value="@data.employmenttype" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input id="fathername" class="form-input" placeholder="Father's Name" name="fathername" value="@data.fathername" />
                    </div>
                    <div class="col-md-6">
                        <input id="spousename" class="form-input" placeholder="Spouse Name" name="spousename" value="@data.spousename" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="date" id="birthdate" class="form-input" placeholder="Date of Birth" name="birthdate" value="@data.birthdate" />
                    </div>
                    <div class="col-md-6">
                        <input id="pan" class="form-input" placeholder="Pan Number" name="pannumber" value="@data.pannumber" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input id="currentstreet" class="form-input" placeholder="Current Street" name="currentstreet" value="@data.currentstreet" />
                    </div>
                    <div class="col-md-3">
                        <input id="currentlandmark" class="form-input" placeholder="Current Landmark" name="currentlandmark" value="@data.currentlandmark" />
                    </div>
                    <div class="col-md-3">
                        <input id="currentbuilding" class="form-input" placeholder="Current Building" name="currentbuilding" value="@data.currentbuilding" />
                    </div>
                    <div class="col-md-3">
                        <input id="currentpin" class="form-input" placeholder="Current PIN" name="currentpin" value="@data.currentpin" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <select id="currentcity_select" class="form-input">
                            <option value="-1">Current City</option>
                            <option value="95509285-bc31-412a-bb66-0023f6611124">Jodhpur</option>
                            <option value="8124ed90-ae1d-4def-9db2-00aad8e2ca6d">Panihati</option>
                            <option value="74f1350d-3025-48d2-b986-03fcc9fa85ee">Kochi</option>
                            <option value="4156595e-d80b-4701-a45e-07a802e5f40f">Mumbai</option>
                            <option value="36b15a28-53c0-4133-a26a-0c95cbee4aef">Hyderabad</option>
                            <option value="89850c4d-a398-47dc-a3f8-22291c97e6c6">New Delhi</option>
                            <option value="06c30704-7251-4eb6-a6ec-2b93e7afed3c">Lucknow</option>
                            <option value="5ad6fbf1-894c-4a50-a5b6-40efe36f6e63">Kolkata</option>
                        </select>
                        <input hidden id="currentcity" class="form-input" placeholder="Current City" name="currentcity" value="@data.currentcity" />
                    </div>
                    <div class="col-md-4">
                        <select id="currentstate_select" class="form-input">
                            <option value="-1">Current State</option>
                            <option value="a4551e89-8069-452e-a0a9-123711940cfa">Bihar</option>
                            <option value="2c384df9-fa5c-4021-af84-14b99db61448">Punjab</option>
                            <option value="9235ddbc-68a5-4f71-8eef-c0aed13f589e">Uttar pradesh</option>
                            <option value="054946a4-da5a-4f25-bfa2-ca7fa727c29b">Andhra Pradesh</option>
                            <option value="fe04c08d-953a-429c-ad8d-cd0e99bd9038">Rajasthan</option>
                            <option value="ef01648b-8891-4c96-b59a-ff2056ea0aa6">Tamil Nadu</option>
                        </select>
                        <input hidden id="currentstate" class="form-input" placeholder="Current State" name="currentstate" value="@data.currentstate" />
                    </div>
                    <div class="col-md-4">
                        <select id="currentcountry_select" class="form-input">
                            <option value="-1">Current Country</option>
                            <option value="d427eb5d-ecd2-4049-9275-420038a42bea">India</option>
                        </select>
                        <input hidden id="currentcountry" class="form-input" placeholder="Current Country" name="currentcountry" value="@data.currentcountry" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input id="panfirstname" class="form-input" placeholder="Your First Name on PAN" name="panfirstname" value="@data.panfirstname">
                    </div>
                    <div class="col-md-4">
                        <input id="panmiddlename" class="form-input" placeholder="Your Middle Name on PAN" name="panmiddlename" value="@data.panmiddlename">
                    </div>
                    <div class="col-md-4">
                        <input id="panlastname" class="form-input" placeholder="Your Last Name on PAN" name="panlastname" value="@data.panlastname">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input id="panfathername" class="form-input" placeholder="Your Father's Name on PAN" name="panfathername" value="@data.panfathername">
                    </div>
                    <div class="col-md-6">
                        <input type="date" id="panbirthdate" class="form-input" placeholder="Your D.O.B on PAN" name="panbirthdate" value="@data.panbirthdate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input id="aadharfirstname" class="form-input" placeholder="Your First Name on Aadhar" name="aadharfirstname" value="@data.aadharfirstname">
                    </div>
                    <div class="col-md-4">
                        <input id="aadharmiddlename" class="form-input" placeholder="Your Middle Name on Aadhar" name="aadharmiddlename" value="@data.aadharmiddlename">
                    </div>
                    <div class="col-md-4">
                        <input id="aadharlastname" class="form-input" placeholder="Your Last Name on Aadhar" name="aadharlastname" value="@data.aadharlastname">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input id="aadharnumber" class="form-input" placeholder="Your Aadhar Number" name="aadharnumber" value="@data.aadharnumber">
                    </div>
                    <div class="col-md-6">
                        <input type="date" id="aadharbirthdate" class="form-input" placeholder="Your D.O.B on Aadhar" name="aadharbirthdate" value="@data.aadharbirthdate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input id="aadharaddress" class="form-input" placeholder="Your Aadhar Address" name="aadharaddress" value="@data.aadharaddress">
                    </div>

                </div>
                <input hidden id="step1" class="form-input" placeholder="Step1" name="step1" value="@data.step1" />
                <input disabled type="checkbox" id="uploaded" name="uploaded" value="uploaded">
                <label for="uploaded">Documents Uploaded</label><br>
                <input hidden id="uploadedvalue" name="uploadedvalue" value="@data.uploadedvalue" />
                <button id="save" type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload Documents</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Test Modal</button>
                <button style="display: none;" id="continue" type="button" class="btn btn-primary" data-toggle="modal" data-target="#step2-modal">Continue to Apply</button>
                @*<input type="button" class="btn btn-primary" title="Upload" value="Upload Documents" onclick="location.href='@Url.Action("Upload", "Home")'" />*@
            </div>
        </form>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Document Uploads</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div style="position: relative;">
                                <h4 style="text-align: center;">Upload your Pan card and Aadhaar Card</h4>
                            </div>
                            <br />
                            <div class="container-fluid">
                                <div class="row">
                                    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="file" class="form-input" name="files" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="file" class="form-input" name="files2" />
                                                </div>
                                            </div>
                                            <!----<div class="row">
                                            <div class="col-md-6">
                                                <input type="file" class="form-input" name="files3" />
                                            </div>
                                        </div>-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input class="btn btn-primary" type="submit" value="Upload" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>        
        <div class="modal fade" id="step2-modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Step - 2</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div style="position: relative;">
                                <h4 style="text-align: center;">Please fill in the details and press submit to apply for loan</h4>
                            </div>
                            <br />
                            <div class="container-fluid">
                                <div class="row">
                                    @using (Html.BeginForm("Apply", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input id="numberofdependants" class="form-input" name="numberofdependents" placeholder="Number Of Dependents" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input id="coapplicantname" class="form-input" name="coapplicantname" placeholder="Co Applicant Name" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <select id="coapplicantrelationship_select" class="form-input">
                                                        <option value="-1">Co Applicant Relationship</option>
                                                        <option value="be612a8a-c729-4d47-a45c-0909a6a31644">Father</option>
                                                        <option value="4270d552-0a81-4bab-bfad-b04067fbebc4">Family Friend</option>
                                                        <option value="3b266768-345c-48c8-8feb-c267f4d90b80">Spouse</option>
                                                        <option value="5e9adba7-dafa-47ad-820f-c2963d09cf63">Office colleague</option>
                                                        <option value="fdb7fa17-e75d-4af1-b76f-c897b0d92658">Sister</option>
                                                        <option value="7a9cb487-2739-4468-a93b-d04d44ec355a">Brother</option>
                                                        <option value="a4eb3b12-fb45-463c-83fd-f1b28f80925f">Mother</option>
                                                    </select>
                                                    <input hidden id="coapplicantrelationship" class="form-input" placeholder="" name="coapplicantrelationship" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input id="coapplicantmobilephone" class="form-input" name="coapplicantmobilephone" placeholder="Co Applicant Mobile Phone" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input id="bankifsccode" class="form-input" name="bankifsccode" placeholder="Bank IFSC Code" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input id="bankaccountnumber" class="form-input" name="bankaccountnumber" placeholder="Bank Account Number" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <select id="bankname_select" class="form-input">
                                                        <option value="-1">Bank Name</option>
                                                        <option value="cda0a722-f5fd-4cdf-95f5-b360d96ec7a2">Axis Bank Ltd.</option>
                                                        <option value="5f6ab138-780e-4535-89eb-6db8d76778a6">Bank of Baroda</option>
                                                        <option value="5981a578-ad0e-4061-8f6f-e3fc5d4948da">Canara Bank</option>
                                                        <option value="8d95777c-d314-4bca-a4e6-94f1311a3e0d">Central Bank of India</option>
                                                    </select>
                                                    <input hidden id="bankname" class="form-input" placeholder="" name="bankname" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input id="apply" class="btn btn-primary" type="submit" value="Apply" required />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/about.js")