@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "About";
}
@{
    var data = ViewBag.Message;
}
<div class="container">
    <div style="position: relative;">
        <h2 style="text-align: center;">Personal Information</h2>
    </div>
    <br />
    <div class="container-fluid">
        <form method="post" action="~/Home/On_Save">
            <div class="form-card">               
                <div class="row">
                    <div class="col-md-12">
                        <label class="label_inp" for="Fullname" id="label_Fullname">Full Name</label>
                        <input id="Fullname" class="form-input inp" placeholder="Full Name" name="Fullname" value="@data.Fullname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label_inp" for="email" id="label_email">Email ID</label>
                        <input id="email" class="form-input" placeholder="Email" value="@data.Email" readonly="readonly">
                    </div>
                    <div class="col-md-6">
                        <label class="label_inp" for="mobile" id="label_mobile">Mobile</label>
                        <input id="mobile" class="form-input" placeholder="Mobile" value="@data.Mobile" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="label_inp" for="firstname" id="label_firstname">First Name</label>
                        <input id="firstname" class="form-input inp" placeholder="First Name" name="firstname" value="@data.firstname" required />
                    </div>
                    <div class="col-md-4">
                        <label class="label_inp" for="middlename" id="label_middlename">Middle Name</label>
                        <input id="middlename" class="form-input inp" placeholder="Middle Name" name="middlename" value="@data.middlename" />
                    </div>
                    <div class="col-md-4">
                        <label class="label_inp" for="lastname" id="label_lastname">Last Name</label>
                        <input id="lastname" class="form-input inp" placeholder="Last Name" name="lastname" value="@data.lastname" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label_inp" for="gender_select" id="label_gender_select">Gender</label>
                        <select id="gender_select" class="form-input inp_dropdown" required>
                            <option value="-1">Gender</option>
                            <option value="eeac42ee-65b6-df11-831a-001d60e938c6">Male</option>
                            <option value="fc2483f8-65b6-df11-831a-001d60e938c6">Female</option>
                            <option value="a0ed5db4-de27-442e-bee7-dd97a723e11d">Others</option>
                        </select>
                        <input hidden id="gender" class="form-input" placeholder="Gender" name="gender" value="@data.gender" />
                    </div>
                    <div class="col-md-6">
                        <label class="label_inp" for="marital_select" id="label_marital_select">Marital Status</label>
                        <select id="marital_select" class="form-input inp_dropdown">
                            <option value="-1">Marital Status</option>
                            <option value="c8a659bc-5539-4a95-bd94-ac9fba2afa4c">Single</option>
                            <option value="a4115632-310a-47c8-b68f-88c635fa3906">Married</option>
                            <option value="332b97f3-9b78-4a1d-8a37-526f98ecd832">Separated</option>
                            <option value="e050c2d8-34ba-4f49-a9e8-c40b48402c81">Default</option>
                            <option value="5689b458-fa2a-4c0c-ac67-c4e4be483304">Widow</option>
                            <option value="deeb6357-355e-4f29-bc4c-ddb7a8e62b51">Divorced</option>
                        </select>
                        <input hidden id="maritalstatus" class="form-input" placeholder="MaritalStatus" name="maritalstatus" value="@data.maritalstatus" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label_inp" for="employment_select" id="label_employment_select">Employment Type</label>
                        <select id="employment_select" class="form-input inp_dropdown">
                            <option value="-1">Employment Type</option>
                            <option value="9d23b181-c6c9-4acf-9b63-781c25fb598d">Default</option>
                            <option value="b3c99f10-eea6-4f33-b41e-70a74b3712bf">Salaried</option>
                            <option value="9260cab0-c7c1-4e17-92de-7d7db752546a">Self-Employed Businessman</option>
                            <option value="c1637f70-b829-4357-b9da-b91dc022e265">Self-Employed Professional</option>
                        </select>
                        <input hidden id="employmenttype" class="form-input" placeholder="Employment" name="employmenttype" value="@data.employmenttype" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label_inp" for="fathername" id="label_fathername">Father's Name</label>
                        <input id="fathername" class="form-input inp" placeholder="Father's Name" name="fathername" value="@data.fathername" />
                    </div>
                    <div class="col-md-6">
                        <label class="label_inp" for="spousename" id="label_spousename">Spouse Name</label>
                        <input id="spousename" class="form-input inp" placeholder="Spouse Name" name="spousename" value="@data.spousename" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label_inp" for="birthdate" id="label_birthdate">Date of Birth</label>
                        <input type="date" id="birthdate" class="form-input" placeholder="Date of Birth" name="birthdate" value="@data.birthdate" />
                    </div>
                    <div class="col-md-6">
                        <label class="label_inp" for="pan" id="label_pan">Pan Number</label>
                        <input id="pan" class="form-input inp" placeholder="Pan Number" name="pannumber" value="@data.pannumber" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-9">
                        <label class="checkboxclass" for="checkaddr">Current address same as Aaddhaar address</label> &nbsp; &nbsp; &nbsp; 
                        <input type="checkbox" id="checkaddr" name="checkaddr">
                    </div>
                </div>
                <br />
                <div id="address" class="row">
                    <div class="col-md-3">
                        <label class="label_inp" for="currentstreet" id="label_currentstreet">Current Street</label>
                        <input id="currentstreet" class="form-input inp" placeholder="Current Street" name="currentstreet" value="@data.currentstreet" />
                    </div>
                    <div class="col-md-3">
                        <label class="label_inp" for="currentlandmark" id="label_currentlandmark">Current Landmark</label>
                        <input id="currentlandmark" class="form-input inp" placeholder="Current Landmark" name="currentlandmark" value="@data.currentlandmark" />
                    </div>
                    <div class="col-md-3">
                        <label class="label_inp" for="pan" id="label_currentbuilding">Current Building</label>
                        <input id="currentbuilding" class="form-input inp" placeholder="Current Building" name="currentbuilding" value="@data.currentbuilding" />
                    </div>
                    <div class="col-md-3">
                        <label class="label_inp" for="pan" id="label_currentpin">Current PIN</label>
                        <input id="currentpin" class="form-input inp" placeholder="Current PIN" name="currentpin" value="@data.currentpin" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="label_inp" for="currentcountry_select" id="label_currentcountry_select">Current Country</label>
                        <select id="currentcountry_select" class="form-input inp_dropdown">
                            <option value="-1">Current Country</option>
                            <option value="d427eb5d-ecd2-4049-9275-420038a42bea">India</option>
                        </select>
                        <input hidden id="currentcountry" class="form-input" placeholder="Current Country" name="currentcountry" value="@data.currentcountry" />
                    </div>
                    <div class="col-md-4">
                        <label class="label_inp" for="currentstate_select" id="label_currentstate_select">Current State</label>
                        <select id="currentstate_select" class="form-input inp_dropdown">
                            <option value="-1">Current State</option>
                            <option value="054946a4-da5a-4f25-bfa2-ca7fa727c29b">ANDHRA PRADESH</option>
                            <option value="332852b8-5d63-4741-be0e-5091d8368467">ARUNACHAL PRADESH</option>
                            <option value="0dabed84-1cd2-4bd3-be9a-38dba27b6024">ASSAM</option>
                            <option value="a4551e89-8069-452e-a0a9-123711940cfa">BIHAR</option>
                            <option value="b93494cb-31b9-433f-8ff1-07fe7100f610">CHHATTISGARH</option>
                            <option value="89642216-5eca-4a5e-b0a4-a795a3ab663f">GOA</option>
                            <option value="354f7f2d-cbe0-491d-9f99-36deae84f5f3">GUJARAT</option>
                            <option value="307caa30-6016-42f2-acf5-ba27aace96e4">HARYANA</option>
                            <option value="ad894417-435c-40cd-b582-8a8290cfd030">HIMACHAL PRADESH</option>
                            <option value="fbb54ba0-f0e8-490c-98b8-7cb79c96532e">JHARKHAND</option>
                            <option value="5232f2e0-641b-40c6-baa8-ffd0677fd8c9">KARNATAKA</option>
                            <option value="e4e4ec88-fe70-414b-b892-4c9515ffd5ed">KERALA</option>
                            <option value="5cd2b6fb-1aac-4406-8cd2-b8f6346db5fd">MADHYA PRADESH</option>
                            <option value="563de91c-6e19-4551-824d-1615bc3ff0cb">MAHARASHTRA</option>
                            <option value="59377ae2-d1a8-488a-b1ee-03f74c43f872">MANIPUR</option>
                            <option value="fba36d71-e3f7-414d-b180-e16e2f1b233f">MEGHALAYA</option>
                            <option value="d02db393-d913-40cf-bf8b-eafef0d9dcde">MIZORAM</option>
                            <option value="f6fee1f0-2866-44a2-a840-ee8235f8063d">NAGALAND</option>
                            <option value="5937d207-5d71-4982-90c3-3f7dc7d03181">ODISHA</option>
                            <option value="2c384df9-fa5c-4021-af84-14b99db61448">PUNJAB</option>
                            <option value="fe04c08d-953a-429c-ad8d-cd0e99bd9038">RAJASTHAN</option>
                            <option value="d7a56ec5-d17a-45dd-bf2c-dfbf398cb739">SIKKIM</option>
                            <option value="ef01648b-8891-4c96-b59a-ff2056ea0aa6">TAMIL NADU</option>
                            <option value="019e03a3-bd1b-4f26-a427-d06821003356">TELANGANA</option>
                            <option value="4a19cd40-97c5-4c3e-b4f9-f149a2190017">TRIPURA</option>
                            <option value="9235ddbc-68a5-4f71-8eef-c0aed13f589e">UTTAR PRADESH</option>
                            <option value="99bdb777-6fbf-45cf-aff1-934c869284d8">UTTARAKHAND</option>
                            <option value="238c23bd-01b3-4174-9415-a52c7d5dbbbb">WEST BENGAL</option>
                            <option>UNION TERRITORY of DADRA & NAGAR HAVELI</option>
                            <option>JAMMU AND KASHMIR</option>
                            <option>UNION TERRITORY OF LAKSHADWEEP</option>
                            <option>DELHI</option>
                        </select>
                        <input hidden id="currentstate" class="form-input" placeholder="Current State" name="currentstate" value="@data.currentstate" />
                    </div>
                    <div class="col-md-4">
                        <label class="label_inp" for="currentcity_select" id="label_currentcity_select">Current City</label>
                        <select id="currentcity_select" class="form-input inp_dropdown">
                            <option value="-1">Current City</option>
                            <option state="TRIPURA" value="d85ef7ff-f156-4f88-99ea-9ce933d33a98">AGARTALA</option>
                            <option state="UTTAR PRADESH" value="a9128493-5c93-4993-98cc-10d3830e7d25">AGRA</option>
                            <option state="GUJARAT" value="5a63e0f9-8cf1-42f7-8a8b-00968d30f5ca">AHMEDABAD</option>
                            <option state="MIZORAM" value="ad8623ba-8ac9-45cf-82f6-c645b14dca59">AIZWAL</option>
                            <option state="RAJASTHAN" value="2d075e89-6a43-4cd1-ae35-2a7fe9d9f5da">AJMER</option>
                            <option state="UTTAR PRADESH" value="f2430b23-efca-48a1-b2d4-d0b49c1018c5">ALIBAUG</option>
                            <option state="KERALA" value="56fea9ca-a9e7-4d37-837e-d0387655d249">ALLAHABAD</option>
                            <option state="MAHARASHTRA" value="ee46696e-a224-49ab-b84a-a2b9f90abbd0">ALLEPPEY</option>
                            <option state="UTTARAKHAND" value="3e4c181c-ffb8-44d4-8efb-5b68354ec968">ALMORA</option>
                            <option state="RAJASTHAN" value="8d50594c-b07f-4217-a0ea-f0063fcf8b95">ALSISAR</option>
                            <option state="RAJASTHAN" value="bfd18f15-bd12-4ab9-8f0b-b4fa2721009a">ALWAR</option>
                            <option state="HARYANA" value="71dcda08-fc85-4ea7-80cc-65e4a3f60552">AMBALA</option>
                            <option state="MADHYA PRADESH" value="9ec6118a-5850-42a4-824b-eaa104f3a33a">AMLA</option>
                            <option state="PUNJAB" value="f20fd561-161f-4b29-a6fa-2149580ee4c0">AMRITSAR</option>
                            <option state="GUJARAT" value="9bf3d828-5960-4164-b365-363ea5e8feaa">ANAND</option>
                            <option state="GUJARAT" value="0f2044eb-5ecc-46c5-b7fd-035b668fb885">ANKLESHWAR</option>
                            <option state="KERALA" value="833858c0-8232-4a61-a291-3ef814afc041">ASHTAMUDI</option>
                            <option state="UTTARAKHAND" value="caeecf0a-5446-4c46-8180-02f5c2bcaebd">AULI</option>
                            <option state="MAHARASHTRA" value="2a0f957e-ba97-4a3d-887b-239aa8e3a11d">AURANGABAD</option>
                            <option state="HIMACHAL PRADESH" value="486dda04-1c6b-46a4-9863-748ac1f848a4">BADDI</option>
                            <option state="UTTARAKHAND" value="9624b2e4-acc2-47db-aaad-7d2f23c2a18d">BADRINATH</option>
                            <option state="GUJARAT" value="c0cf9ac9-0416-4b38-8f5a-d8e960008fb8">BALASINOR</option>
                            <option state="UTTAR PRADESH" value="71c3d55a-4d5c-46b8-a0e4-8a85d0d0d748">BALRAMPUR</option>
                            <option state="RAJASTHAN" value="7f7d89ce-2a3a-4cbf-90af-390d0ad5f973">BAMBORA</option>
                            <option state="MADHYA PRADESH" value="371c9306-fbdd-4a67-8f8d-c5f2b76e6879">BANDHAVGARH</option>
                            <option state="KARNATAKA" value="46c672af-726c-44fd-89b3-62ec0a8bf965">BANDIPUR</option>
                            <option state="KARNATAKA" value="37cad834-af42-4984-9e80-765b3c2b1df2">BANGALORE</option>
                            <option state="ODISHA" value="45692b22-d5ad-4951-833c-63c321d5f067">BARBIL</option>
                            <option state="UTTAR PRADESH" value="68eb752a-ca2d-44f4-b98d-4f877017e069">BAREILLY</option>
                            <option state="RAJASTHAN" value="0fe56da8-56b9-41c3-8b3b-250f7e56ab24">BEHROR</option>
                            <option state="KARNATAKA" value="db49ae3e-77e7-4f5f-b9e4-48b7260056f9">BELGAUM</option>
                            <option state="ODISHA" value="5789c47f-c079-4e3f-a386-a4cca3cd456c">BERHAMPUR</option>
                            <option state="UTTARAKHAND" value="dc959dbc-d6ea-45ec-9a45-6085f4f39b61">BETALGHAT</option>
                            <option state="RAJASTHAN" value="789761db-4ed1-4ff8-9d14-0bcb7e1d8063">BHANDARDARA</option>
                            <option state="MAHARASHTRA" value="436e38cd-5a94-4209-8fe6-50d60df5ee89">BHARATPUR</option>
                            <option state="GUJARAT" value="ba09f790-1d45-4197-9599-91759eef784e">BHARUCH</option>
                            <option state="GUJARAT" value="d364129c-6391-4b9a-94e5-9a007dbf0924">BHAVANGADH</option>
                            <option state="GUJARAT" value="8113dd9a-479c-422c-9dfa-6abb98a962e0">BHAVNAGAR</option>
                            <option state="CHHATTISGARH" value="1bc64ba9-111c-456c-b035-8210537e3557">BHILAI</option>
                            <option state="UTTARAKHAND" value="3039133e-1bb5-46b1-a987-99927e296865">BHIMTAL</option>
                            <option state="MADHYA PRADESH" value="f9891d30-57ff-41cf-9178-46cbae027c17">BHOPAL</option>
                            <option state="ODISHA" value="5483976f-9ab8-497c-917b-d30c1575d143">BHUBANESHWAR</option>
                            <option state="GUJARAT" value="b16daa49-5d4a-48b5-8807-8b5132c90b38">BHUJ</option>
                            <option state="RAJASTHAN" value="25820828-ddb6-46ae-a1ad-838677799569">BIKANER</option>
                            <option state="UTTARAKHAND" value="48ff65e0-b476-4161-b4fb-d46b19da6229">BINSAR</option>
                            <option state="BIHAR" value="a9285ec7-f64c-4659-87fc-428fd765dda3">BODHGAYA</option>
                            <option state="RAJASTHAN" value="ce149f02-ef54-493c-a2f0-fc593a783c00">BUNDI</option>
                            <option state="KERALA" value="680bb16f-063b-4b9f-a9e8-0e086dccb262">CALICUT</option>
                            <option state="KERALA" value="62948118-520b-45f2-b945-86cd2aebf091">CANANNORE</option>
                            <option state="HIMACHAL PRADESH" value="8515ba51-052a-4039-b33b-47ebdfd8c6ee">CHAIL</option>
                            <option state="UTTARAKHAND" value="2e244fcb-aedd-42de-9bc9-9b2373c8d17a">CHAMBA</option>
                            <option state="PUNJAB" value="6d95e91d-d9c8-4e87-8b18-794ce1babd8b">CHANDIGARH</option>
                            <option state="TAMIL NADU" value="59d0f000-5508-4c4d-a22c-33eaaa5778ad">CHENNAI</option>
                            <option state="KARNATAKA" value="f0d5ecad-34cf-403d-9a91-71ef60721af5">CHIKMAGALUR</option>
                            <option state="MAHARASHTRA" value="fa45bb83-dc3f-4e15-b089-045d0c5de828">CHIPLUN</option>
                            <option state="MADHYA PRADESH" value="436ca6f1-c1d7-44cc-bbd2-8c356e9cd516">CHITRAKOOT</option>
                            <option state="RAJASTHAN" value="050414d8-284d-46b3-b060-fed7abaab88a">CHITTORGARH</option>
                            <option state="TAMIL NADU" value="ccc0721a-06de-426c-b12d-30a5fef6581e">COIMBATORE</option>
                            <option state="TAMIL NADU" value="1ee8a80f-3f5e-4394-ac46-65abadf512d3">COONOOR</option>
                            <option state="KARNATAKA" value="f788c7d0-827e-46b3-9bcd-731c1e8dfad5">COORG</option>
                            <option state="UTTARAKHAND" value="36900fd2-51fe-4b51-9f32-1554a43d6bcb">CORBETT NATIONAL PARK</option>
                            <option state="ODISHA" value="50dac08b-0b60-4296-a2c0-47dff87150b2">CUTTACK</option>
                            <option state="MAHARASHTRA" value="e33a4ecf-f704-4d00-a266-e5fce6c88570">DABHOSA</option>
                            <option state="HIMACHAL PRADESH" value="6ff7b7b7-4b49-481e-a80a-e8b773985f19">DALHOUSIE</option>
                            <option state="UNION TERRITORY of DADRA & NAGAR HAVELI" value="ae49d625-0950-4a6a-a794-c6cc0535a095">DAMAN</option>
                            <option state="KARNATAKA" value="eb609602-ecdb-4309-bfc8-478f50c7a2aa">DANDELI</option>
                            <option state="MAHARASHTRA" value="9e683a87-4087-494a-af1b-d06f8a3d4e95">DAPOLI</option>
                            <option state="WEST BENGAL" value="27f433d5-ac54-4b3a-bd8c-4ab880371e5d">DARJEELING</option>
                            <option state="RAJASTHAN" value="a3d739ee-3814-46f3-adbe-06d22af6b755">DAUSA</option>
                            <option state="UTTAR PRADESH" value="93fb83bc-262b-457a-8808-1a5ced9c9c57">DEHRADUN</option>
                            <option state="HIMACHAL PRADESH" value="6e8537f6-3d07-402b-9f55-96afc48b399f">DHARAMSHALA</option>
                            <option state="ASSAM" value="935cf624-85c8-49f4-a038-e1ec5693323e">DIBRUGARH</option>
                            <option state="WEST BENGAL" value="0efb6712-1164-430c-8ee2-25b512866c6d">DIGHA</option>
                            <option state="UNION TERRITORY OF DADRA & NAGAR HAVELI" value="e3c2cc58-d684-4fbb-992a-32b1be2ee625">DIU</option>
                            <option state="MAHARASHTRA" value="20c994c3-15c0-40c0-8cf0-b6626f81e2a7">DIVE AGAR</option>
                            <option state="WEST BENGAL" value="68b58166-b76b-439f-b25d-7426e763616b">DOOARS</option>
                            <option state="WEST BENGAL" value="d049d243-402c-49fb-aae4-b7cefac539a1">DURGAPUR</option>
                            <option state="MAHARASHTRA" value="0f852b05-2a8f-4e56-b77c-c71d07a2ad60">DURSHET</option>
                            <option state="GUJARAT" value="94453a46-b7c3-4df1-8615-b2e90799d2b0">DWARKA</option>
                            <option state="HARYANA" value="b0712cd5-97a6-4471-88a0-0185dc05f3c0">FARIDABAD</option>
                            <option state="UTTAR PRADESH" value="bdaaf8fe-66f1-4304-a380-85eb89fc8fd4">FIROZABAD</option>
                            <option state="UTTARAKHAND" value="f51ed815-a51f-48f3-b37b-bf30336cb50e">GANAPATIPULE</option>
                            <option state="SIKKIM" value="32a77cd3-be78-42c8-bd09-6d64ae24da08">GANDHIDHAM</option>
                            <option state="MAHARASHTRA" value="08834c17-aadc-4a0e-baae-127ada593349">GANDHINAGAR</option>
                            <option state="GUJARAT" value="c46c8c80-3c21-43a3-8c3c-183b68ac058f">GANGOTRI</option>
                            <option state="GUJARAT" value="a5df16f2-f112-4df3-b991-f0d9abbcf68d">GANGTOK</option>
                            <option state="UTTAR PRADESH" value="32ac8d7f-9abf-41ba-b675-f42c8a32539e">GARHMUKTESHWAR</option>
                            <option state="UTTARAKHAND" value="861aff64-0b35-4fcf-a2f0-3602da2e59a4">GARHWAL</option>
                            <option state="BIHAR" value="e8586903-de7d-4026-9b21-4334fdfb1dcc">GAYA</option>
                            <option state="NEW DELHI" value="024bbd3c-1d6c-41b7-bfac-222a460518e8">GHAZIABAD</option>
                            <option state="GOA" value="9354b433-208d-4584-95fe-81437b1ccb29">GOA</option>
                            <option state="KERALA" value="96c852c3-c597-499f-a783-3785f3db70cb">GOKHARNA</option>
                            <option state="GUJARAT" value="79107a37-edde-4612-ba8c-fc8f8a7f52c1">GONDAL</option>
                            <option state="UTTAR PRADESH" value="5920f340-f5ff-4c5f-af48-714342e15b72">GORAKHPUR</option>
                            <option state="UTTAR PRADESH" value="f59ec1a1-1c32-44a9-b95f-dd3a923c1bc4">GREATER NOIDA</option>
                            <option state="JAMMU AND KASHMIR" value="b6ac1a7e-35c3-4bbb-a518-da91495378f2">GULMARG</option>
                            <option state="HARYANA" value="2b66103d-bb81-4947-95c1-7bd7ea83e0ed">GURGAON</option>
                            <option state="KERALA" value="2068bce6-138a-4078-b923-abc2ca2c232c">GURUVAYOOR</option>
                            <option state="ASSAM" value="bfcf661a-26b1-445d-abb3-667eed4c930d">GUWAHATI</option>
                            <option state="MADHYA PRADESH" value="e0377d22-b03e-4a06-bc97-9be8aec63c97">GWALIOR</option>
                            <option state="KARNATAKA" value="fe631946-a86a-4f63-ad5f-a2e5108f6097">HALEBID</option>
                            <option state="KARNATAKA" value="da52bdbf-b1b4-45dc-999c-89b4bddc5207">HAMPI</option>
                            <option state="HARYANA" value="c67ca84a-e0dd-4360-b72c-087887ed4d4b">HANSI</option>
                            <option state="UTTAR PRADESH" value="a5151085-d7c8-4ace-bdb8-d45ee8e6349d">HARIDWAR</option>
                            <option state="KARNATAKA" value="f638c9a0-24c8-4459-b797-0ba76a0a8781">HASSAN</option>
                            <option state="KARNATAKA" value="c8d2a426-3d88-47b2-8651-05ada2d19c84">HOSPET</option>
                            <option state="TAMIL NADU" value="f79c0ed2-f9da-4bc0-8087-06cd2b796c6f">HOSUR</option>
                            <option state="KARNATAKA" value="1d8a5824-bad4-4328-b080-cd0a73fe6b37">HUBLI</option>
                            <option state="ANDHRA PRADESH" value="0da78fdc-0526-48cf-beab-980d790bc70e">HYDERABAD</option>
                            <option state="KERALA" value="07f1396f-5071-4d6e-adc8-e7c839409718">IDUKKI</option>
                            <option state="MAHARASHTRA" value="5b7c66d4-2455-4b06-a88f-c46324214f0f">IGATPURI</option>
                            <option state="MANIPUR" value="a4bc99fa-c4bd-49de-bfa7-39f775bc5ec4">IMPHAL</option>
                            <option state="MADHYA PRADESH" value="4ff31723-fa80-43c8-b8a4-a615d724df77">INDORE</option>
                            <option state="Madhya Pradesh" value="f998581e-557f-4168-816e-e376737a62ea">JABALPUR</option>
                            <option state="RAJASTHAN" value="c9b240f2-03d2-4ebc-8bbe-d677775c0903">JAIPUR</option>
                            <option state="RAJASTHAN" value="e7ae6865-216b-4b5f-a122-7d9db067fab4">JAISALMER</option>
                            <option state="PUNJAB" value="a8224208-69a6-4c4d-8402-0cf4a0ff6600">JALANDHAR</option>
                            <option state="MAHARASHTRA" value="211b807f-ba11-43e5-9e5f-451bd238f3c0">JALGAON</option>
                            <option state="GUJARAT" value="fb194937-ba40-44ba-aeec-f05658c20321">JAMBUGODHA</option>
                            <option state="JAMMU AND KASHMIR" value="dd5f0d40-91d9-4a1d-9c18-e6a6d9d48c5a">JAMMU</option>
                            <option state="GUJARAT" value="cb678bc8-0a8b-4cbb-b96a-8325a9f37a5a">JAMNAGAR</option>
                            <option state="JHARKHAND" value="5651736b-9d69-42c3-92a4-0255207481c6">JAMSHEDPUR</option>
                            <option state="MAHARASHTRA" value="214858cf-c4d0-4ade-bf94-a9dd4e27cf03">JAWHAR</option>
                            <option state="UTTAR PRADESH" value="bc1e2220-5dc9-46b2-a33d-22e3007cf219">JHANSI</option>
                            <option state="RAJASTHAN" value="bd243dd3-fbbb-4580-8c30-d49a1492d1e0">JODHPUR</option>
                            <option state="RAJASTHAN" value="1f44e720-7594-4bb8-91cc-ac0d0eed2ec8">JOJAWAR</option>
                            <option state="ASSAM" value="e3dbd5fe-0af8-4644-8b5d-dd2b0613a798">JORHAT</option>
                            <option state="GUJARAT" value="e6f351ff-dc6f-4600-9fd9-5e89f496d139">JUNAGADH</option>
                            <option state="KARNATAKA" value="9cdb290f-5581-4245-9f05-e9dfda4f587b">KABINI</option>
                            <option state="WEST BENGAL" value="67f344d7-6c4b-445b-886e-eaf776c5f270">KALIMPONG</option>
                            <option state="UTTARAKHAND" value="1c0f1a51-9a64-40cb-8041-3ebfed1bc926">KANATAL</option>
                            <option state="TAMIL NADU" value="d585ca56-ed28-4bee-8ebd-35076f6b33cd">KANCHIPURAM</option>
                            <option state="MADHYA PRADESH" value="6f8f87ff-4f3e-4f12-9dba-d77513eb5222">KANHA</option>
                            <option state="UTTAR PRADESH" value="855b5c0e-0a20-4c5a-ba1b-909d8c04a5c5">KANPUR</option>
                            <option state="TAMIL NADU" value="091465e2-eb8d-4856-b573-b409499ef341">KANYAKUMARI</option>
                            <option state="JAMMU AND KASHMIR" value="2147649f-3acb-44a1-bef2-9f0ca36eaef3">KARGIL</option>
                            <option state="MAHARASHTRA" value="6153c463-62f5-4fbb-8dea-6caf0efadb57">KARJAT</option>
                            <option state="HARYANA" value="36b4acaf-966c-429f-9545-9ba9c6fd562a">KARNAL</option>
                            <option state="TAMIL NADU" value="abddfbae-e59d-4f6a-9925-f28fed464b1e">KARUR</option>
                            <option state="KARNATAKA" value="454bf3ae-369d-4736-bf5f-585f971da970">KARWAR</option>
                            <option state="KERALA" value="9354bf49-546e-4ead-990a-2f72bca29fd0">KASARGOD</option>
                            <option state="HIMACHAL PRADESH" value="45002ba3-2984-402b-a160-197d953eaf22">KASAULI</option>
                            <option state="UTTARAKHAND" value="d9dad522-6535-418a-a6ed-2f18b984ffd5">KASHID</option>
                            <option state="MAHARASHTRA" value="251e1c73-855a-481f-9edc-6d3bf8719753">KASHIPUR</option>
                            <option state="JAMMU AND KASHMIR" value="29b0af81-cbe5-44a3-a19a-aa1888adf0f2">KATRA</option>
                            <option state="UTTARAKHAND" value="74192b67-8ffd-4296-9425-7c1786f676ef">KAUSANI</option>
                            <option state="HIMACHAL PRADESH" value="5b3ad4a3-baf1-4068-96a9-3a6cf8d92254">KAZA</option>
                            <option state="ASSAM" value="89aecc35-507b-495e-977c-084932af1a52">KAZIRANGA</option>
                            <option state="UTTARAKHAND" value="a0de55c0-0db7-489c-ac94-71ce9de89e29">KEDARNATH</option>
                            <option state="HIMACHAL PRADESH" value="a76d51e1-d405-4073-b92f-a1a2cec43f1b">KHAJJIAR</option>
                            <option state="MADHYA PRADESH" value="e3f5df5f-a3cb-4e63-ae91-de6f0e05c62b">KHAJURAHO</option>
                            <option state="MAHARASHTRA" value="286d549b-d811-4b3f-9788-fff2d8bab0ed">KHANDALA</option>
                            <option state="RAJASTHAN" value="22c0fd1d-92da-4de1-8f39-f0c850982820">KHIMSAR</option>
                            <option state="KERALA" value="e38a53f3-b1ad-4e4d-a748-241fdb3cc34d">KOCHIN</option>
                            <option state="TAMIL NADU" value="93ec97e4-d32f-4878-b9ba-42507a035409">KODAIKANAL</option>
                            <option state="MAHARASHTRA" value="41bad87c-5cad-4077-9e2f-4eb467637e23">KOLHAPUR</option>
                            <option state="WEST BENGAL" value="ea3ff1a2-cf65-4b71-92a6-205a6fe7fa58">KOLKATA</option>
                            <option state="KERALA" value="b45da3ae-48a1-481f-8598-e84f4ca8c8a9">KOLLAM</option>
                            <option state="RAJASTHAN" value="4f637d6d-33cd-4025-99d9-10479f02a56e">KOTA</option>
                            <option state="TAMIL NADU" value="673fc46f-929a-4ff4-bf5a-99dddeabca09">KOTAGIRI</option>
                            <option state="KERALA" value="a9431a69-759f-4195-9254-13909d27a2bb">KOTTAYAM</option>
                            <option state="KERALA" value="193cf5ce-3284-41d4-93d8-4fd82e30b5bb">KOVALAM</option>
                            <option state="HIMACHAL PRADESH" value="05b89c64-5216-4418-83a9-2e8846f674ae">KUFRI</option>
                            <option state="RAJASTHAN" value="3013e79c-bcff-45ea-84e0-bd6a437bff9c">KULLU</option>
                            <option state="HIMACHAL PRADESH" value="e4611e74-a8e2-4306-bfd2-e94d2502125f">KUMARAKOM</option>
                            <option state="KERALA" value="9c795731-2d1e-466b-869c-46ccd82873d6">KUMBAKONAM</option>
                            <option state="TAMIL NADU" value="afddbe2b-c5e9-41bb-91cb-ddcec9f79809">KUMBALGARH</option>
                            <option state="KERALA" value="59eac76f-0f45-4a32-b0aa-da599ef5b4a9">KUMILY</option>
                            <option state="WEST BENGAL" value="9db1ae78-d6b2-4e1b-8b80-55919a93bf3b">KURSEONG</option>
                            <option state="UTTAR PRADESH" value="68d11f0f-4171-4a07-980e-0ef9e6be5fdf">KUSHINAGAR</option>
                            <option state="NORTH SIKKIM" value="8ba5cb4f-58da-41df-9d01-8c1e14ec00ca">LACHUNG</option>
                            <option state="JAMMU AND KASHMIR" value="bf1f53b7-19a1-4934-b031-a302a7c60cca">LAKSHADWEEP</option>
                            <option state="UNION TERRITORY OF LAKSHADWEEP" value="c9faadc0-93bf-459e-8def-709f9cc86033">LEH</option>
                            <option state="MAHARASHTRA" value="c43fe652-07da-4b1e-aa7e-deacc50bdefc">LONAVALA</option>
                            <option state="GUJARAT" value="43f33f7c-4ac0-47ea-83f2-b61154dfe937">LOTHAL</option>
                            <option state="UTTAR PRADESH" value="644fb2a0-c10e-4f03-a2da-f0341b511831">LUCKNOW</option>
                            <option state="PUNJAB" value="33ee971e-7cc4-4f52-aeb1-9be21111df8a">LUDHIANA</option>                            
                            <option state="TAMIL NADU" value="81d85f25-c4d9-4c1c-8fa8-9960801b98b2">MADURAI</option>
                            <option state="MAHARASHTRA" value="a3ba527d-1786-4817-b6af-51992b70173c">MAHABALESHWAR</option>
                            <option state="TAMIL NADU" value="cc0d651f-52b3-41c6-a33a-d9e80e17b6b0">MAHABALIPURAM</option>
                            <option state="KERALA" value="c43c05b1-24f0-4ff2-8109-2537a922a6a8">MALAPPURAM</option>
                            <option state="KARNATAKA" value="890b7daf-a836-47a7-8294-e0a88c5ab20f">MALPE</option>
                            <option state="MAHARASHTRA" value="8a32ffc3-6e97-407f-a36d-79df97156fc2">MALSHEJ GHAT</option>
                            <option state="MAHARASHTRA" value="a40204da-9d5c-4f48-9213-a9a22b231337">MALVAN</option>
                            <option state="HIMACHAL PRADESH" value="3721b2e5-1276-4736-8127-76da6138f534">MANALI</option>
                            <option state="GUJARAT" value="e8213159-d132-41f4-9484-9473b30a479e">MANDAVI</option>
                            <option state="RAJASTHAN" value="2298cfcb-ca3c-4d8d-ad7a-ad002281d6f9">MANDAWA</option>
                            <option state="HARYANA" value="d12b1fa2-7a80-4443-98d2-810eae85de40">MANDORMONI</option>
                            <option state="KERALA" value="cbff4fbe-f34d-41db-9a9d-b2ebd932b0b9">MANESAR</option>
                            <option state="WEST BENGAL" value="25427d59-4e1c-4d85-b1d4-cf4de78d80a2">MANGALORE</option>
                            <option state="KARNATAKA" value="e573e5a8-c2ee-46cc-93a0-0f47186f4c00">MANMAD</option>
                            <option state="MAHARASHTRA" value="ffa970cb-f58e-4aff-a7e8-d99f3e41dc68">MARARRI</option>
                            <option state="UTTARAKHAND" value="2bc96eec-e3b7-443f-a74b-c7fd599e8039">MARCHULA</option>
                            <option state="MAHARASHTRA" value="8c7f8bfd-42c6-4360-8d19-92d6d34fe23e">MATHERAN</option>
                            <option state="UTTAR PRADESH" value="4bb044ad-33ab-403e-b83d-cf4863e4d903">MATHURA</option>
                            <option state="HIMACHAL PRADESH" value="3515e5d9-0582-419e-8e6c-241b306f6c13">MCLEODGANJ</option>
                            <option state="PUNJAB" value="3182cc86-a0db-4894-afc2-9ab22e47d594">MOHALI</option>
                            <option state="RAJASTHAN" value="9896b741-55de-4f2d-b4ad-2ea33bcee090">MORADABAD</option>
                            <option state="UTTAR PRADESH" value="6a2b2729-53f0-4159-a727-d46214d119fc">MORBI</option>
                            <option state="GUJARAT" value="064db3d9-2833-46a9-b5fd-742bc3cac711">MOUNT ABU</option>
                            <option state="UTTARAKHAND" value="6c878952-0c28-4876-a4d0-738e63ee2dab">MUKTESHWAR</option>
                            <option state="MAHARASHTRA" value="59028863-53c8-4a6e-abae-b43b7733b641">MUMBAI</option>
                            <option state="MAHARASHTRA" value="b791ca92-cc76-4da2-8b70-d422496bb90d">MUNDRA</option>
                            <option state="KERALA" value="f9fa8056-bcbb-4159-abfd-7cb21975322c">MUNNAR</option>
                            <option state="MAHARASHTRA" value="db1f8159-633a-493a-9567-d04ab698a805">MURUD JANJIRA</option>
                            <option state="UTTARAKHAND" value="ce7d26c1-88c9-4d7a-b456-71916b9fe384">MUSSOORIE</option>
                            <option state="KARNATAKA" value="e0bb2711-9123-44ee-a7dd-05076ee42c86">MYSORE</option>
                            <option state="KERALA" value="ccf0701d-e99a-4175-90fc-391280abf28a">NADUKANI</option>
                            <option state="TAMIL NADU" value="e00c25bc-f00d-4d6f-a9fd-e78ac6c07eb0">NAGAPATTINAM</option>
                            <option state="KARNATAKA" value="d25b1dac-0fe4-4c43-b9d4-cdf8ff386e7f">NAGARHOLE</option>
                            <option state="RAJASTHAN" value="aa03209d-3898-4664-b0b0-5e09ae097ff3">NAGAUR FORT</option>
                            <option state="MAHARASHTRA" value="91717568-8724-4a01-afaa-7703aa88a68d">NAGOTHANE</option>
                            <option state="MAHARASHTRA" value="ec93a5a3-1673-43c0-beaa-f6f92b184f1a">NAGPUR</option>
                            <option state="HIMACHAL PRADESH" value="92473a50-6cc8-48da-8d9d-f5636189c8b8">NAHAN</option>
                            <option state="UTTAR PRADESH" value="e977aae0-f7bc-4328-bc09-a44698a008e4">NAINITAL</option>
                            <option state="HIMACHAL PRADESH" value="98d6cc5d-a92d-471e-9dde-29c37091e4dc">NALDHERA</option>
                            <option state="MAHARASHTRA" value="d6d818b1-c2e0-4f66-aa9e-ebe911932c24">NANDED</option>
                            <option state="MAHARASHTRA" value="7a83df71-82f0-4e5a-aff3-afe1a10c1744">NAPNE</option>
                            <option state="MAHARASHTRA" value="92af3c63-a3e4-43f2-bce2-0bca309e6a28">NASIK</option>
                            <option state="MAHARASHTRA" value="a342b153-4b9a-42bb-8054-e296dee95a37">NAVI MUMBAI</option>
                            <option state="MAHARASHTRA" value="11a3450a-f177-4159-931c-e0391834e85e">NERAL</option>
                            <option state="DELHI" value="953e0ff7-31f4-44fa-aac4-58f450d0341b">NEW DELHI</option>
                            <option state="TAMIL NADU" value="4d72e67d-b80f-4876-8dca-411767916c04">NILGIRI</option>
                            <option state="UTTAR PRADESH" value="059e0a55-f534-4426-9d06-96c4beef1f09">NOIDA</option>
                            <option state="TAMIL NADU" value="3fadc6d0-d45c-47fd-9375-d0e42ea8a953">OOTY</option>
                            <option state="MADHYA PRADESH" value="6318bec0-96f2-4697-8ec0-60a28da9dde2">ORCHHA</option>
                            <option state="RAJASTHAN" value="11e5f6e0-5b1d-4a5c-8088-89125edd6a5d">OSIAN</option>
                            <option state="MADHYA PRADESH" value="ad26800a-d1f8-47db-8d3c-d9bafcbc55de">PACHMARHI</option>
                            <option state="HIMACHAL PRADESH" value="47e27ed4-59d4-4b26-a2d7-12a0762759d0">PAHALGAM</option>
                            <option state="GUJARAT" value="0f157a13-cbe3-4041-81d7-232565ba4b73">PALAMPUR</option>
                            <option state="RAJASTHAN" value="f48d3fb6-a143-4865-b8a7-22f4f356516f">PALANPUR</option>
                            <option state="JAMMU AND KASHMIR" value="987528cb-a9d6-48d9-a750-9b454c592d4e">PALI</option>
                            <option state="GUJARAT" value="d493c261-14fb-49be-933e-9ffc18896d31">PALITANA</option>
                            <option state="KERALA" value="f77e997f-4bb8-45ff-98c2-bab393e0e55e">PALLAKAD</option>
                            <option state="MAHARASHTRA" value="ed795364-2d37-43ec-b99d-ed9978023408">PANCHGANI</option>
                            <option state="HARYANA" value="5e9222af-60b8-47e3-aeec-c14438278788">PANCHKULA</option>
                            <option state="MADHYA PRADESH" value="c2772183-04c3-4031-8ece-907e34e58a41">PANHALA</option>
                            <option state="MAHARASHTRA" value="61b01148-8091-4b0c-b40c-3375c7a96400">PANNA</option>
                            <option state="MAHARASHTRA" value="e5d2b158-c6ee-4131-be86-3b3dd7ab0872">PANTNAGAR</option>
                            <option state="UTTARAKHAND" value="ec3423a3-198b-4c71-a609-f81bd6c3e5f5">PANVEL</option>
                            <option state="HIMACHAL PRADESH" value="354859ca-856f-4b7a-be82-e192c52c8b36">PARWANOO</option>
                            <option state="PUNJAB" value="764ad037-16ee-4df7-8cd0-12ea49ad5f51">PATHANKOT</option>
                            <option state="JAMMU AND KASHMIR" value="dd72dc1e-5153-42f2-a9ca-5b21a2da229b">PATIALA</option>
                            <option state="BIHAR" value="4742e108-7b59-4478-a839-a8d7cd9159c7">PATNA</option>
                            <option state="JAMMU AND KASHMIR" value="bc28d339-1553-45f4-9732-9642d73430f3">PATNITOP</option>
                            <option state="SIKKIM" value="bbb521d4-0076-4868-abaf-e97f6f9050f8">PELLING</option>
                            <option state="MADHYA PRADESH" value="06d090f7-3418-40b4-b78e-efcaa6228e1e">PENCH</option>
                            <option state="PUNJAB" value="ec397792-c68f-4de1-99a0-c9de9091dadc">PHAGWARA</option>
                            <option state="RAJASTHAN" value="9850c9d5-b3b8-49cc-9f19-8b84a76ffe20">PHALODI</option>
                            <option state="HARYANA" value="7bb9baea-2e57-4cfe-bdd5-eb2d39c1b883">PINJORE</option>
                            <option state="TAMIL NADU" value="f8ea2c5c-dc73-4501-a857-2d37b9804468">PONDICHERRY</option>
                            <option state="KERALA" value="f94d02df-3e7a-4354-ad5b-54c7c6c453a8">POOVAR</option>
                            <option state="GUJARAT" value="56ed70aa-24ee-467f-9d3f-2f577604ec19">PORBANDAR</option>
                            <option state="ANDAMAN & NICOBAR ISLANDS" value="577b476f-23b2-4b1e-b44e-2f7e769de120">PORT BLAIR</option>
                            <option state="GUJARAT" value="5685b38c-e304-4df9-8892-9dae2b5fed5d">POSHINA</option>
                            <option state="HIMACHAL PRADESH" value="6ab75f4c-7249-4994-8e24-92d67bc70daa">PRAGPUR</option>
                            <option state="MAHARASHTRA" value="267067f7-4ca8-4692-9e94-a9abcc6928fe">PUNE</option>
                            <option state="ODISHA" value="d0e805cb-c1c6-4ad3-af96-e19b36edc85e">PURI</option>
                            <option state="RAJASTHAN" value="cd36aa39-b915-48f7-98f5-5c0b8857eb74">PUSKHAR</option>
                            <option state="ANDHRA PRADESH" value="18794dfe-5560-4f9d-9d1a-04fd28ddb5d2">PUTTAPARTHI</option>
                            <option state="UTTAR PRADESH" value="ecf74266-a819-4227-b624-901107e3be59">RAI BAREILLY</option>
                            <option state="WEST BENGAL" value="354b726a-0d09-407f-87d3-a0f6ec79e750">RAICHAK</option>
                            <option state="CHHATTISGARH" value="fea9c17b-8602-4576-a499-77158d50e275">RAIPUR</option>
                            <option state="RAJASTHAN" value="362093cc-bcb8-45d6-a4a2-3221097d3e39">RAJAHMUNDRY</option>
                            <option state="BIHAR" value="127688b5-8b4d-4d8e-8f9c-8af0510b5d50">RAJASTHAN</option>
                            <option state="GUJARAT" value="4fd6efd7-3ffb-41e6-b467-8abda055bbdb">RAJGIR</option>
                            <option state="GUJARAT" value="22240a35-e7ca-4374-ab9b-395011c22eb2">RAJKOT</option>
                            <option state="RAJASTHAN" value="a4eaa5d0-840d-45c6-b5c7-b1c96af3f783">RAJPIPLA</option>
                            <option state="ANDHRA PRADESH" value="cb506632-44fe-45cc-94c2-22e2127e2a69">RAJSAMAND</option>
                            <option state="TAMIL NADU" value="3d3f19bc-1087-44b6-ba8f-d243c54728b6">RAM NAGAR</option>
                            <option state="UTTAR PRADESH" value="d1bc73f7-92cd-465b-b0cf-b6cfb6b16c93">RAMESHWARAM</option>
                            <option state="RAJASTHAN" value="33b6c5db-09f4-4455-8c5e-585a1311c36a">RAMGARH</option>
                            <option state="RAJASTHAN" value="b323a399-839e-4e70-a50e-42306b5e94b8">RANAKPUR</option>
                            <option state="JHARKHAND" value="ed146ad2-b845-4689-962b-045065a57911">RANCHI</option>
                            <option state="UTTARAKHAND" value="931b998f-350f-4512-9a74-23ca4d2c5989">RANIKHET</option>
                            <option state="KERALA" value="47b9f92c-1fa1-4a56-acee-a2aa3299c965">RANNY</option>
                            <option state="RAJASTHAN" value="db0a3244-a3a9-4046-985c-60080543b6fe">RANTHAMBORE</option>
                            <option state="MAHARASHTRA" value="260a5170-9b59-404f-9b8d-fa2665e36316">RATNAGIRI</option>
                            <option state="SIKKIM" value="8e5331bf-c2e4-449c-8d54-52ae8b873c4f">RAVANGLA</option>
                            <option state="UTTAR PRADESH" value="dc22b0bf-0217-41c9-b278-2c414204444b">RISHIKESH</option>
                            <option state="WEST BENGAL" value="336d21f4-82db-4ba0-b4d0-e75270b50244">RISHYAP</option>
                            <option state="RAJASTHAN" value="b6ea1929-75e8-4210-9f4e-2a9548dc4f6b">ROHETGARH</option>
                            <option state="ODISHA" value="d7d76c95-9bb9-4895-acb0-10f36e7e00ca">ROURKELA</option>
                            <option state="MAHARASHTRA" value="cd648f7d-9c35-4742-b1d7-bbade67e06cc">SAJAN</option>
                            <option state="TAMIL NADU" value="9c0dabc9-33b9-4ccc-8c18-eb10e275f54c">SALEM</option>
                            <option state="GUJARAT" value="39405749-e857-4327-b048-6ac88ecc10bd">SAPUTARA</option>
                            <option state="GUJARAT" value="0f394dc7-bef4-45a0-a8f8-6b9855d5ef0c">SASAN GIR</option>
                            <option state="UTTARAKHAND" value="3b53bfb6-e0c1-45a0-9635-c511457314e4">SATTAL</option>
                            <option state="RAJASTHAN" value="d2bf66fa-abdb-4c18-83ff-3f5f5b2bba1b">SAWAI MADHOPUR</option>
                            <option state="MAHARASHTRA" value="6fae6dd4-51d5-4981-827e-84f5b20f02eb">SAWANTWADI</option>
                            <option state="ANDHRA PRADESH" value="a7843c11-1ce1-437e-bc5b-6d6d20d8e822">SECUNDERABAD</option>
                            <option state="MEGHALAYA" value="ad8316d7-c591-440e-907b-eb726dec43a4">SHARAVANBELGOLA</option>
                            <option state="HIMACHAL PRADESH" value="a9f27f67-ca12-425b-a183-831992dc9469">SHILLONG</option>
                            <option state="ODISHA" value="339ab9e3-1e61-4438-a67c-2afaaf6e8c8c">SHIMLA</option>
                            <option state="MAHARASHTRA" value="24eb49fc-d49f-4a51-ab20-7f1247b6428a">SHIMLIPAL</option>
                            <option state="KARNATAKA" value="b7000e78-8f90-45d8-8f73-9625e5648fc1">SHIRDI</option>
                            <option state="KARNATAKA" value="6f648557-6118-4606-919f-fe00cbe3a771">SHIVANASAMUDRA</option>
                            <option state="RAJASTHAN" value="7ecf8ff7-cf97-46b2-8a51-3de737ddd87f">SIANA</option>
                            <option state="WEST BENGAL" value="a73e47f7-63fd-4734-aa35-850fe34b3f24">SILIGURI</option>
                            <option state="UNION TERRITORY OF DADRA & NAGAR HAVELI" value="302d3af0-47ba-4631-bffc-1dc90254ac9c">SILVASSA</option>
                            <option state="TAMIL NADU" value="70ee1f43-75de-414e-b422-21ad52a989eb">SIVAGANGA DISTRICT</option>
                            <option state="HIMACHAL PRADESH" value="7ef77bc3-510e-4bc9-bf0a-e3236e6d9523">SOLAN</option>
                            <option state="UTTAR PRADESH" value="e970b59e-54f4-4412-ab75-a4d881a869f6">SONAULI</option>
                            <option state="JAMMU AND KASHMIR" value="b44c6d9e-42f3-40e7-86de-abd802997212">SRINAGAR</option>
                            <option state="WEST BENGAL" value="fc1fc199-a159-4faf-ad56-7fe6d5e4a6c2">SUNDERBAN</option>
                            <option state="GUJARAT" value="8def13d3-89e1-47f5-ae1e-4e39e14f90dd">SURAT</option>
                            <option state="TAMIL NADU" value="c0e7ecab-e847-44d0-8fde-7d2802c79f98">TANJORE</option>
                            <option state="MAHARASHTRA" value="72c68cff-9d56-4aa9-97b5-9bcd76aa4585">TAPOLA</option>
                            <option state="WEST BENGAL" value="9bf0958c-4600-4ec3-9967-70240c88a1cb">TARAPITH</option>
                            <option state="MAHARASHTRA" value="42ca239a-b8a0-4f3a-8a18-7ce918fa3c73">THANE</option>
                            <option state="KERALA" value="d2cf6741-d0fd-443a-a57d-3b67d1b24371">THEKKADY</option>
                            <option state="TAMIL NADU" value="6ff32dcc-d8ad-4250-bc31-f21e3aed1871">THIRUVANANTHAPURAM</option>
                            <option state="KERALA" value="88ab0dfe-cda6-40ba-a1bd-5ec84a1f6858">THIRVANNAMALAI</option>
                            <option state="TAMIL NADU" value="752ccfe2-0057-400b-b400-bc14b708973a">THRISSUR</option>
                            <option state="TAMIL NADU" value="54663ab6-3544-466e-a6f6-2eb8b754815f">TIRUCHIRAPALLI</option>
                            <option state="ANDHRA PRADESH" value="2b427aea-effb-4516-9cbf-8cb91cbebe75">TIRUPATI</option>
                            <option state="KERALA" value="a8569bf2-8cec-4343-9cf5-5091935c4074">TIRUPUR</option>
                            <option state="RAJASTHAN" value="227a54e7-b62b-41d0-93d0-06a09b8c783c">UDAIPUR</option>
                            <option state="JAMMU AND KASHMIR" value="0da0b5a8-4f0d-4aa3-ab4c-19484f68187b">UDHAMPUR</option>
                            <option state="KARNATAKA" value="44c300ae-31d4-4e30-b9d1-6d6779692b46">UDUPI</option>
                            <option state="MADHYA PRADESH" value="459bdcca-043e-4fc8-aeda-df4afd99e72b">UJJAIN</option>
                            <option state="UTTARAKHAND" value="4d797720-dddc-4e5b-bd85-f6139b96efe4">UTTARKASHI</option>
                            <option state="GUJARAT" value="4c4dc43e-79ae-4ca9-af50-604f67a41629">VADODARA</option>
                            <option state="KERALA" value="07e9ef48-369e-4e8b-a47e-6a0439ed6911">VAGAMON</option>
                            <option state="KERALA" value="858ad548-59e3-4cd7-8174-74a5c9995bb8">VAPI</option>
                            <option state="GUJARAT" value="91ae25b8-2845-428f-a3ae-966501a799de">VARANASI</option>
                            <option state="UTTAR PRADESH" value="a19f2fdf-ca7c-4b79-9f88-1452d3cd6b94">VARKALA</option>
                            <option state="TAMIL NADU" value="0d4db040-2991-4b07-811e-7d545cb1351f">VELANKANNI</option>
                            <option state="TAMIL NADU" value="2dc5747c-c44a-4f2e-b00f-475135984b9b">VELLORE</option>
                            <option state="MAHARASHTRA" value="91aedc91-c6f6-421a-8093-f214dd728b5f">VERAVAL</option>
                            <option state="ANDHRA PRADESH" value="61aff6ab-de8a-4ca3-a5bf-f292e3935958">VIJAYAWADA</option>
                            <option state="MAHARASHTRA" value="5c1e06f6-cb9e-4e2f-8986-ea1a79c9ea73">VIKRAMGADH</option>
                            <option state="ANDHRA PRADESH" value="2d57d3f4-8ec8-4df5-872a-0aa7d04bc9d2">VISHAKAPATNAM</option>
                            <option state="KERALA" value="dcc74c1f-df1d-4193-a007-f42e54526968">WANKANER</option>
                            <option state="GUJARAT" value="78cfc912-8173-4af3-a53c-19ae20960de6">WAYANAD</option>
                            <option state="UTTARAKHAND" value="d684f8cc-e899-4a95-af19-0d2dcd0e8aa5">YAMUNOTRI</option>
                            <option state="TAMIL NADU" value="ad527191-8739-45f2-af92-f948d74f5b7f">YERCAUD</option>
                            <option state="SIKKIM" value="9a941ba9-caa1-4aa6-8655-0542621fd25a">YUKSOM</option>
                        </select>
                        <input hidden id="currentcity" class="form-input" placeholder="Current City" name="currentcity" value="@data.currentcity" />
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <label class="label_inp" for="panfirstname" id="label_panfirstname">First Name on PAN</label>
                        <input id="panfirstname" class="form-input inp" placeholder="Your First Name on PAN" name="panfirstname" value="@data.panfirstname">
                    </div>
                    <div class="col-md-4">
                        <label class="label_inp" for="panmiddlename" id="label_panmiddlename">Middle Name on PAN</label>
                        <input id="panmiddlename" class="form-input inp" placeholder="Your Middle Name on PAN" name="panmiddlename" value="@data.panmiddlename">
                    </div>
                    <div class="col-md-4">
                        <label class="label_inp" for="panlastname" id="label_panlastname">Last Name on PAN</label>
                        <input id="panlastname" class="form-input inp" placeholder="Your Last Name on PAN" name="panlastname" value="@data.panlastname">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label_inp" for="panfathername" id="label_panfathername">Father's Name on PAN</label>
                        <input id="panfathername" class="form-input inp" placeholder="Your Father's Name on PAN" name="panfathername" value="@data.panfathername">
                    </div>
                    <div class="col-md-6">
                        <label class="label_inp" for="panbirthdate" id="label_panbirthdate">Date of Birth on PAN</label>
                        <input type="date" id="panbirthdate" class="form-input" placeholder="Your D.O.B on PAN" name="panbirthdate" value="@data.panbirthdate">
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <label class="label_inp" for="aadharfirstname" id="label_aadharfirstname">First Name on Aadhaar</label>
                        <input id="aadharfirstname" class="form-input inp" placeholder="Your First Name on Aadhaar" name="aadharfirstname" value="@data.aadharfirstname">
                    </div>
                    <div class="col-md-4">
                        <label class="label_inp" for="aadharmiddlename" id="label_aadharmiddlename">Middle Name on Aadhaar</label>
                        <input id="aadharmiddlename" class="form-input inp" placeholder="Your Middle Name on Aadhaar" name="aadharmiddlename" value="@data.aadharmiddlename">
                    </div>
                    <div class="col-md-4">
                        <label class="label_inp" for="aadharlastname" id="label_aadharlastname">Last Name on Aadhaar</label>
                        <input id="aadharlastname" class="form-input inp" placeholder="Your Last Name on Aadhaar" name="aadharlastname" value="@data.aadharlastname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label_inp" for="aadharnumber" id="label_aadharnumber">Aadhaar Number</label>
                        <input id="aadharnumber" class="form-input inp" placeholder="Your Aadhaar Number" name="aadharnumber" value="@data.aadharnumber">
                    </div>
                    <div class="col-md-6">
                        <label class="label_inp" for="panbirthdate" id="label_panbirthdate">Date of Birth on AAdhaar</label>
                        <input type="date" id="aadharbirthdate" class="form-input" placeholder="Your D.O.B on Aadhar" name="aadharbirthdate" value="@data.aadharbirthdate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="label_inp" for="aadharaddress" id="label_aadharaddress">Aadhaar Address</label>
                        <input id="aadharaddress" class="form-input inp" placeholder="Your Aadhaar Address" name="aadharaddress" value="@data.aadharaddress">
                    </div>

                </div>
                <input hidden id="step1" class="form-input" placeholder="Step1" name="step1" value="@data.step1" />
                <input disabled type="checkbox" id="uploaded" name="uploaded" value="uploaded">
                <label for="uploaded">Documents Uploaded</label><br>
                <input hidden id="uploadedvalue" name="uploadedvalue" value="@data.uploadedvalue" />
                <button id="save" type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload Documents</button>
                <button style="display: none;" id="continue" type="button" class="btn btn-primary" data-toggle="modal" data-target="#step2-modal">Continue to Apply</button>
            </div>
        </form>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> </h4>
                    </div>
                    <div class="modal-body">
                        
                            <div style="position: relative;">
                                <h4 style="text-align: center;">Upload your Pan card and Aadhaar Card</h4>
                            </div>
                            <br />
                            <div class="container-fluid">                                
                                    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {                                       
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label  for="pan_upload">Pan Card</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-11">
                                                    <input type="file" id="pan_upload" class="form-input" name="files" />                                                    
                                                </div>                                               
                                                <div class="col-sm-1">
                                                    <div id="remove_pan_upload" class="remove"><i class="far fa-trash-alt fa-2x"></i></div>
                                                </div>                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="pan_upload">Aadhaar Front</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-11">
                                                    <input type="file" id="aadhaar_front" class="form-input" name="files2" />
                                                </div>
                                                <div class="col-sm-1">
                                                    <div id="remove_aadhaar_front" class="remove"><i class="far fa-trash-alt fa-2x"></i></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="pan_upload">Aadhaar Back</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-11">
                                                    <input type="file" id="aadhaar_back" class="form-input" name="files3" />
                                                </div>
                                                <div class="col-sm-1">
                                                    <div id="remove_aadhaar_back" class="remove"><i class="far fa-trash-alt fa-2x"></i></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input class="btn btn-primary" type="submit" value="Upload" />
                                                </div>
                                            </div>                                      
                                    }                                
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="step2-modal" role="dialog">
            <div class="modal-dialog">
                
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div style="position: relative;">
                                <h4 style="text-align: center;">Please fill in the details for final step</h4>
                            </div>
                            <br />
                            <div class="container-fluid">
                                <div class="row">
                                    @using (Html.BeginForm("Apply", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="label_inp" for="numberofdependants" id="label_numberofdependants">Number of Dependents</label>
                                                    <input id="numberofdependants" class="form-input inp" name="numberofdependents" placeholder="Number Of Dependents" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="label_inp" for="coapplicantname" id="label_coapplicantname">Co Applicant Name</label>
                                                    <input id="coapplicantname" class="form-input inp" name="coapplicantname" placeholder="Co Applicant Name" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="label_inp" for="coapplicantrelationship_select" id="label_coapplicantrelationship_select">Co Applicant Relationship</label>
                                                    <select id="coapplicantrelationship_select" class="form-input inp_dropdown">
                                                        <option value="-1">Co Applicant Relationship</option>
                                                        <option value="be612a8a-c729-4d47-a45c-0909a6a31644">Father</option>
                                                        <option value="4270d552-0a81-4bab-bfad-b04067fbebc4">Family Friend</option>
                                                        <option value="3b266768-345c-48c8-8feb-c267f4d90b80">Spouse</option>
                                                        <option value="5e9adba7-dafa-47ad-820f-c2963d09cf63">Office colleague</option>
                                                        <option value="fdb7fa17-e75d-4af1-b76f-c897b0d92658">Sister</option>
                                                        <option value="7a9cb487-2739-4468-a93b-d04d44ec355a">Brother</option>
                                                        <option value="a4eb3b12-fb45-463c-83fd-f1b28f80925f">Mother</option>
                                                    </select>
                                                    <input hidden id="coapplicantrelationship" class="form-input" placeholder="" name="coapplicantrelationship" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="label_inp" for="coapplicantmobilephone" id="label_coapplicantmobilephone">Co Applicant Mobile Phone</label>
                                                    <input id="coapplicantmobilephone" class="form-input inp" name="coapplicantmobilephone" placeholder="Co Applicant Mobile Phone" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="label_inp" for="bankifsccode" id="label_bankifsccode">Bank IFSC Code</label>
                                                    <input id="bankifsccode" class="form-input inp" name="bankifsccode" placeholder="Bank IFSC Code" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="label_inp" for="bankaccountnumber" id="label_bankaccountnumber">Bank Account Number</label>
                                                    <input id="bankaccountnumber" class="form-input inp" name="bankaccountnumber" placeholder="Bank Account Number" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="label_inp" for="bankname_select" id="label_bankname_select">Bank Name</label>
                                                    <select id="bankname_select" class="form-input inp_dropdown">
                                                        <option value="-1">Bank Name</option>
                                                        <option value="cda0a722-f5fd-4cdf-95f5-b360d96ec7a2">Axis Bank Ltd.</option>
                                                        <option value="5f6ab138-780e-4535-89eb-6db8d76778a6">Bank of Baroda</option>
                                                        <option value="5981a578-ad0e-4061-8f6f-e3fc5d4948da">Canara Bank</option>
                                                        <option value="8d95777c-d314-4bca-a4e6-94f1311a3e0d">Central Bank of India</option>
                                                    </select>
                                                    <input hidden id="bankname" class="form-input" placeholder="" name="bankname" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input id="apply" class="btn btn-primary" type="submit" data-toggle="modal" data-target="#waitModal" value="Apply" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="waitModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Registering...</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div style="position: relative;">
                                <h4 style="text-align: center;">Hey! Please wait, we are registering your final step</h4>
                            </div>
                            <br />
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/about.js")