@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Agreements";
}
@{
    var data = ViewBag.Message;
}
<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">My Agreements</h2>
    </div>
    <br />
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr style="background: powderblue;">
                    <th scope="col">Agreement Number</th>
                    <th scope="col">Product</th>
                    <th scope="col">Status</th>
                    <th scope="col">Tenure</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Expiration Date</th>
                    

                </tr>
            </thead>
            <tbody>
                 @foreach (var agr in (IEnumerable<Agreements>)ViewData["AgreementData"])
                 {
                <tr class="table_row">
                    <td>@Html.ActionLink(@agr.number,"AgreementInfo",new {Id=@agr.id})</td>
                    <td>@Html.ActionLink(@agr.product, "AgreementInfo", new { Id = @agr.id })</td>
                    <td>@agr.status</td>
                    <td>@agr.tenure</td>
                    <td>@agr.startedon</td>
                    <td>@agr.expiredon</td>

                </tr>                    
                  }
            </tbody>
        </table>
    </div>
</div>
