@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "AgreementInfo";
}

@{
    var data = ViewBag.Message;
}
    <div class="container">
        <div style="position: relative;">
            <h2 style="text-align: center;">@data.number</h2>
        </div>
        <br />
        <div style="float: right;">
            <input type="button" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Agreements", "Home")'" />
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid">

            <div class="form-card">
                <div class="row">
                    <div class="col-md-3">
                        <label>Applicant Name</label>
                    </div>
                    <div class="col-md-6">
                        <input id="contact" class="form-input" placeholder="First Name" name="contact" value="@data.contact" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Associated Application</label>
                    </div>
                    <div class="col-md-6">
                        <input id="application" class="form-input" placeholder="First Name" name="application" value="@data.application" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Status</label>
                    </div>
                    <div class="col-md-6">
                        <input id="status" class="form-input" placeholder="Full Name" name="status" value="@data.status" readonly="readonly">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Loan Type</label>
                    </div>
                    <div class="col-md-6">
                        <input id="loantype" class="form-input" placeholder="First Name" name="loantype" value="@data.loantype" readonly="readonly" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Started On</label>
                    </div>
                    <div class="col-md-6">
                        <input id="startedon" class="form-input" placeholder="Email" value="@data.startedon" readonly="readonly">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Closed On</label>
                    </div>
                    <div class="col-md-6">
                        <input id="expiredon" class="form-input" placeholder="Mobile" value="@data.expiredon" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Tenure</label>
                    </div>
                    <div class="col-md-6">
                        <input id="tenure" class="form-input" placeholder="First Name" name="tenure" value="@data.tenure" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Loan</label>
                    </div>
                    <div class="col-md-6">
                        <input id="product" class="form-input" placeholder="First Name" name="CreatedOn" value="@data.product" readonly="readonly" />
                    </div>
                </div>

                @if (@data.loantype == "Short Term Loan")
                {
                    <div class="row">
                        <div class="col-md-3">
                            <label>Debt Amount</label>
                        </div>
                        <div class="col-md-6">
                            <input id="debtamount" class="form-input" placeholder="First Name" name="debtamount" value="@data.debtamount" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Balance Debt Amount</label>
                        </div>
                        <div class="col-md-6">
                            <input id="balanceddebtamount" class="form-input" placeholder="First Name" name="balanceddebtamount" value="@data.balanceddebtamount" readonly="readonly" />
                        </div>
                    </div>
                    <!---<div class="row">
                    <div class="col-md-3">
                        <label>Overpayment Amount</label>
                    </div>
                    <div class="col-md-6">
                        <input id="overpaymentamount" class="form-input" placeholder="First Name" name="contact" value="@data.overpaymentamount" readonly="readonly" />
                    </div>
                </div>-->

                    <!--<div class="row">
                    <div class="col-md-3">
                        <label>Balance Debt Amount</label>
                    </div>
                    <div class="col-md-6">
                        <input id="balanceddebtamount" class="form-input" placeholder="First Name" name="balanceddebtamount" value="@data.balanceddebtamount" readonly="readonly" />
                    </div>
                </div>-->
                    if (@data.islatepaymentfeeapplied == "true")
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <label>Is Late Payment Fee Applied</label>
                            </div>
                            <div class="col-md-6">
                                <input id="islatepaymentfeeapplied" class="form-input" placeholder="First Name" name="islatepaymentfeeapplied" value="@data.islatepaymentfeeapplied" readonly="readonly" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Old Debt Amount</label>
                            </div>
                            <div class="col-md-6">
                                <input id="olddebtamount" class="form-input" placeholder="First Name" name="olddebtamount" value="@data.olddebtamount" readonly="readonly" />
                            </div>
                        </div>
                    }
                    if (@data.isextensionapplied == "true")
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <label>Is Extension Fee Applied</label>
                            </div>
                            <div class="col-md-6">
                                <input id="isextensionapplied" class="form-input" placeholder="First Name" name="isextensionapplied" value="@data.isextensionapplied" readonly="readonly" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Old Debt Amount</label>
                            </div>
                            <div class="col-md-6">
                                <input id="olddebtamount" class="form-input" placeholder="First Name" name="olddebtamount" value="@data.olddebtamount" readonly="readonly" />
                            </div>
                        </div>
                    }
                }

                @if (@data.status != "Cancelled")
                {
                    <details open>
                        <summary>Operations</summary>

                        <table class="table">
                            <thead>
                                <tr style="background: powderblue;">
                                    <th scope="col">Amount</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var oprn in (IEnumerable<Operations>)ViewData["OperationMessage"])
                                {
                                    <tr class="table_row">
                                        <td>@oprn.amount</td>
                                        <td>@oprn.type</td>
                                        <td>@oprn.category</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </details>
                }
                @if (@data.loantype == "Long Term Loan" && @data.status == "Active")
                {
                    <details open>
                        <summary>EMI Records</summary>

                        <table class="table">
                            <thead>
                                <tr style="background: powderblue;">
                                    <th scope="col">Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Repaid</th>
                                    <th scope="col">Late Payment Charges</th>
                                    <th scope="col">Extension Charge</th>
                                    <th scope="col">Old Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var emr in (IEnumerable<EMI_Records>)ViewData["EMIRecordsMessage"])
                                {
                                    <tr class="table_row">
                                        <td>@emr.emitype</td>
                                        <td>@emr.amount</td>
                                        <td>@emr.startdate</td>
                                        <td>@emr.duedate</td>
                                        <td>@emr.repaid</td>
                                        <td>@emr.islatepaymentfeeapplied</td>
                                        <td>@emr.isextensionfeeapplied</td>
                                        <td>@emr.oldamount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </details>
                }
                <form method="post" action="~/Home/Fetch">
                    <input hidden id="agreement" class="form-input" placeholder="Agreement" name="id" value="@data.id" />
                    <input hidden id="loantype" class="form-input" placeholder="Loan Type" name="agrloantype" value="@data.loantype" />
                    @if (@data.status == "Active")
                    {
                        <button id="save" type="submit" class="btn btn-primary">Pay</button>
                    }

                </form>
            </div>
        </div>
    </div>

