@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Agreements";
}
@{
    var data = ViewBag.Message;
}
<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">My Agreements</h2>
    </div>
    <br />
    <div class="container-fluid table_view">
        <table class="table">
            <thead>
                <tr style="background: powderblue;">
                    <th scope="col">Agreement Number</th>
                    <th scope="col">Product</th>
                    <th scope="col">Status</th>
                    <th scope="col">Tenure</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Close Date</th>
                    

                </tr>
            </thead>
            <tbody>
                 @foreach (var agr in (IEnumerable<Agreements>)ViewData["AgreementData"])
                 {
                <tr class="table_row">
                    <td>@Html.ActionLink(@agr.number,"AgreementInfo",new {Id=@agr.id})</td>
                    <td>@Html.ActionLink(@agr.product, "AgreementInfo", new { Id = @agr.id })</td>
                    <td>@agr.status</td>
                    <td>@agr.tenure</td>
                    <td>@agr.startedon</td>
                    <td>@agr.expiredon</td>

                </tr>                    
                  }
            </tbody>
        </table>
    </div>
    <div class="card_view container-fluid">
        @foreach (var agr in (IEnumerable<Agreements>)ViewData["AgreementData"])
        {
            <div class="card card_detail">
                <div class="card-header"><h3>@agr.number</h3></div><br />
                <div class="card-body">
                    <h4 class="card-title"><b>Status: </b>@agr.status</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text"><b>Tenure: </b>@agr.tenure</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><b>Start Date: </b>@agr.startedon</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text"><b>Product: </b>@agr.product</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><b>Expiration Date: </b>@agr.expiredon</p>
                        </div>
                    </div>
                    @Html.ActionLink("Select", "AgreementInfo", new { Id = @agr.id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>
