@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "AgreementInfo";
}

@{
    var data = ViewBag.Message;
}
    <div class="container">
        <div class="statuscontainer">
            <div class="statusrow">
                <div class="col">
                    <ul id="agrprogress-bar" class="agrprogressbar">
                        <li>Waiting for E-sign</li>
                        <li>Planned</li>
                        <li>Active</li>
                        <li id="overdueStatus">Overdue</li>
                        <li id="prolongedStatus">Prolonged</li>
                        <li>Closed</li>
                    </ul>
                </div>
            </div>
            <script>
            switch ("@data.status") {
                case "Waiting for E-sign": $("#progress-bar li:not(.active):first").addClass("active");
                                           break;
                case "Planned": $("#agrprogress-bar li:not(.active):nth-child(-n + 2)").addClass("active");
                                break;
                case "Active": $("#agrprogress-bar li:not(.active):nth-child(-n + 3)").addClass("active");
                               break;
                case "Overdue": $("#agrprogress-bar li:not(.active):nth-child(-n + 4)").addClass("active");
                                break;
                case "Prolonged": $("#agrprogress-bar li:not(.active):nth-child(-n + 5)").addClass("active");
                                  break;
                case "Closed": $("#agrprogress-bar li:not(.active)").addClass("active");
                               break;
            }

            if ("@data.islatepaymentfeeapplied" == "True")
            {
                $("#overdueStatus").css("display", "inline");
            }
            else
            {
                $("#overdueStatus").css("display", "none");
            }

            if ("@data.isextensionapplied" == "True")
            {
                $("#prolongedStatus").css("display", "inline");
            }
            else
            {
                $("#prolongedStatus").css("display", "none");
            }
            </script>
        </div>
        <br />
        <div style="float: right; margin: 80px 14px;">
            <input type="button" class="btn btn-primary defaultButton" value="Back" onclick="location.href='@Url.Action("Agreements", "Home")'" />
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid">

            <div class="form-card">
                <h2 class="text-center" style="position: relative; margin-bottom: 70px;">@data.number</h2>
                <div class="row">
                    <div class="col-md-3">
                        <label>Applicant Name</label>
                    </div>
                    <div class="col-md-6">
                        <input id="contact" class="form-control form-input" placeholder="Name" name="contact" value="@data.contact" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Associated Application</label>
                    </div>
                    <div class="col-md-6">
                        <input id="application" class="form-control form-input" placeholder="Application" name="application" value="@data.application" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Status</label>
                    </div>
                    <div class="col-md-6">
                        <input id="status" class="form-control form-input" placeholder="Status" name="status" value="@data.status" readonly="readonly">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Loan Type</label>
                    </div>
                    <div class="col-md-6">
                        <input id="loantype" class="form-control form-input" placeholder="LoanType" name="loantype" value="@data.loantype" readonly="readonly" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Started On</label>
                    </div>
                    <div class="col-md-6">
                        <input id="startedon" class="form-control form-input" placeholder="Started On" value="@data.startedon" readonly="readonly">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Closed On</label>
                    </div>
                    <div class="col-md-6">
                        <input id="expiredon" class="form-control form-input" placeholder="Expired On" value="@data.expiredon" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Tenure</label>
                    </div>
                    <div class="col-md-6">
                        <input id="tenure" class="form-control form-input" placeholder="Tenure" name="tenure" value="@data.tenure" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Loan</label>
                    </div>
                    <div class="col-md-6">
                        <input id="product" class="form-control form-input" placeholder="Loan" value="@data.product" readonly="readonly" />
                    </div>
                </div>

                @if (@data.loantype == "Short Term Loan")
                {
                    <div class="row">
                        <div class="col-md-3">
                            <label>Debt Amount</label>
                        </div>
                        <div class="col-md-6">
                            <input id="debtamount" class="form-control form-input" placeholder="Debt Amount" name="debtamount" value="@data.debtamount" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Balance Debt Amount</label>
                        </div>
                        <div class="col-md-6">
                            <input id="balanceddebtamount" class="form-control form-input" placeholder="Balanced Debt Amount" name="balanceddebtamount" value="@data.balanceddebtamount" readonly="readonly" />
                        </div>
                    </div>
                    if (@data.islatepaymentfeeapplied == "true")
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <label>Is Late Payment Fee Applied</label>
                            </div>
                            <div class="col-md-6">
                                <input id="islatepaymentfeeapplied" class="form-control form-input" placeholder="Late Payment Fee Applied" name="islatepaymentfeeapplied" value="@data.islatepaymentfeeapplied" readonly="readonly" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Old Debt Amount</label>
                            </div>
                            <div class="col-md-6">
                                <input id="olddebtamount" class="form-control form-input" placeholder="Old Amount" name="olddebtamount" value="@data.olddebtamount" readonly="readonly" />
                            </div>
                        </div>
                    }
                    if (@data.isextensionapplied == "true")
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <label>Is Extension Fee Applied</label>
                            </div>
                            <div class="col-md-6">
                                <input id="isextensionapplied" class="form-control form-input" placeholder="Extension Applied" name="isextensionapplied" value="@data.isextensionapplied" readonly="readonly" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Old Debt Amount</label>
                            </div>
                            <div class="col-md-6">
                                <input id="olddebtamount" class="form-control form-input" placeholder="Old Debt Amount" name="olddebtamount" value="@data.olddebtamount" readonly="readonly" />
                            </div>
                        </div>
                    }
                }

                @if (@data.status != "Cancelled")
                {
                    <details open style="margin-top: 40px;">
                        <summary class="text-center" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 25px;">Our Charging Fees</summary>

                        <table class="table" style="background: #f5f5f5; margin-top: 30px;">
                            <thead>
                                <tr style="background: #98cad0;">
                                    <th scope="col">Amount</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var oprn in (IEnumerable<Operations>)ViewData["OperationMessage"])
                                {
                                    <tr class="table_row">
                                        <td>@oprn.amount</td>
                                        <td>@oprn.type</td>
                                        <td>@oprn.category</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </details>
                }
                @if (@data.loantype == "Long Term Loan" && @data.status == "Active")
                {
                    <details open style="margin-top: 40px;">
                        <summary class="text-center pb3" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 25px;">Repayment Schedule</summary>

                        <table class="table text-center" style="background: #f5f5f5;margin-top: 30px;">
                            <thead>
                                <tr style="background: #98cad0;">
                                    <th scope="col">Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Repaid</th>
                                    <th scope="col">Late Payment Charges</th>
                                    <th scope="col">Extension Charge</th>
                                    <th scope="col">Old Amount</th>
                                    <th scope="col">Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var emr in (IEnumerable<EMI_Records>)ViewData["EMIRecordsMessage"])
                                {
                                    <tr class="table_row" id="repaymentSchedule">
                                        <td>@emr.emitype</td>
                                        <td>@emr.amount</td>
                                        <td>@emr.startdate</td>
                                        <td>@emr.duedate</td>
                                        <td>@emr.repaid</td>
                                        <td>@emr.islatepaymentfeeapplied</td>
                                        <td>@emr.isextensionfeeapplied</td>
                                        <td>@emr.oldamount</td>
                                        @if (@emr.repaid == "Yes")
                                        {
                                            <td id="paymentStatus">@emr.paymentstatus</td>
                                        }
                                        else
                                        {
                                            <td id="paymentStatus">@Html.ActionLink(@emr.paymentstatus, "DirectPay", new { AgrId = @emr.agreementid, Amnt = @emr.amount })</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </details>
                }
                <form method="post" action="~/Home/Fetch">
                    <input hidden id="agreement" class="form-control form-input" placeholder="Agreement" name="id" value="@data.id" />
                    <input hidden id="loantype" class="form-control form-input" placeholder="Loan Type" name="agrloantype" value="@data.loantype" />
                    @if (@data.status == "Active" || @data.status == "Partial Repayment")
                    {
                        <button id="save" type="submit" class="btn btn-primary defaultButton">Pre-Pay</button>
                    }

                </form>
            </div>
        </div>
    </div>

