@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Applications";
}
@{
    var data = ViewBag.Message;
}

<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">My Applications</h2>
    </div>
    <br />
    <div class="container-fluid table_view">
        <table class="table">
            <thead>
                <tr style="background: powderblue;">
                    <th scope="col">Application Number</th>
                    <th scope="col">Loan</th>
                    <th scope="col">Application Status</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Tenure</th>
                    <th scope="col">Date Created</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var application in (IEnumerable<Applications>)ViewData["ApplicationData"])
                {
                    <tr class="table_row">
                        <td>@Html.ActionLink(@application.number, "ApplicationInfo", new { Id = @application.id })</td>
                        <td>@Html.ActionLink(@application.product, "ApplicationInfo", new { Id = @application.id })</td>
                        <td>@application.status</td>
                        <td>@application.requestedamount</td>
                        <td>@application.requestedterm</td>
                        <td>@application.createdOn</td>
                    </tr>

                }
            </tbody>
        </table>
        </div>
    <div class="card_view container-fluid">
        @foreach (var application in (IEnumerable<Applications>)ViewData["ApplicationData"])
        {
            <div class="card card_detail">
                <div class="card-header"><h3>@application.number</h3></div><br />
                <div class="card-body">
                    <h4 class="card-title"><b>Status: </b>@application.status</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-text"><b>Amount: </b>@application.requestedamount</p>
                        </div>
                        <div class="col-md-4">                            
                            <p class="card-text"><b>Term: </b>@application.requestedterm</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text"><b>Product: </b>@application.product</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><b>CreatedOn: </b>@application.createdOn</p>
                        </div>
                    </div>  
                    @Html.ActionLink("Select", "ApplicationInfo", new { Id = @application.id }, new { @class = "btn btn-primary" });
                </div>
            </div>
        }
    </div>
</div>

