@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "ApplicationInfo";
}
@{
    var data = ViewBag.Message;
    
}

    <div class="container">
        <div style="position: relative;">
            <h2 style="text-align: center;">@data.number</h2>
        </div>
        <br />
        <div style="float: right;">
            <input type="button" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Applications", "Home")'" />
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid">
            <div class="form-card">
                <div class="row">
                    <div class="col-md-3">
                        <label>Status</label>
                    </div>
                    <div class="col-md-6">
                        <input id="Status" class="form-input" placeholder="" name="Status" value="@data.status" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Created On</label>
                    </div>
                    <div class="col-md-6">
                        <input id="createdOn" class="form-input" placeholder="" value="@data.createdOn" readonly="readonly">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Tenure</label>
                    </div>
                    <div class="col-md-6">
                        <input id="requestedterm" class="form-input" placeholder="" value="@data.requestedterm" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Requested Amount</label>
                    </div>
                    <div class="col-md-6">
                        <input id="requestedamount" class="form-input" placeholder="" name="CreatedOn" value="@data.requestedamount" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Loan</label>
                    </div>
                    <div class="col-md-6">
                        <input id="product" class="form-input" placeholder="" name="CreatedOn" value="@data.product" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Co-Applicant</label>
                    </div>
                    <div class="col-md-6">
                        <input id="coapplicantname" class="form-input" placeholder="" name="coapplicantname" value="@data.coapplicantname" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Approved Term</label>
                    </div>
                    <div class="col-md-6">
                        <input id="approvedterm" class="form-input" placeholder="" name="approvedterm" value="@data.approvedterm" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Approved Amount</label>
                    </div>
                    <div class="col-md-6">
                        <input id="approvedamount" class="form-input" placeholder="" name="approvedamount" value="@data.approvedamount" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-6">
                        <input id="contact" class="form-input" placeholder="" name="contact" value="@data.contact" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Occupation</label>
                    </div>
                    <div class="col-md-6">
                        <input id="occupation" class="form-input" placeholder="" name="occupation" value="@data.occupation" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Reason For Loan</label>
                    </div>
                    <div class="col-md-6">
                        <input id="reasonforloan" class="form-input" placeholder="" name="reasonforloan" value="@data.reasonforloan" readonly="readonly" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Bank</label>
                    </div>
                    <div class="col-md-6">
                        <input id="bankname" class="form-input" placeholder="" name="bankname" value="@data.bankname" readonly="readonly" />
                    </div>
                </div>


                @if (@data.status == "Rejected")
                {
                    <details open>
                        <summary>Rejection Reasons</summary>

                        <table class="table">
                            <thead>
                                <tr style="background: powderblue;">
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rejrsn in (IEnumerable<RejectionReasonsDetail>)ViewData["RejectionMessage"])
                                {
                                    <tr class="table_row">
                                        <td>@rejrsn.name</td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </details>
                }
            </div>




        </div>
    </div>

