@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Applications";
}
@{
    var data = ViewBag.Message;
}

<div>
    <div style="position: relative;">
        <h2 style="text-align: center;">My Applications</h2>
    </div>
    <br />
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr style="background: powderblue;">
                    <th scope="col">Application Number</th>
                    <th scope="col">Product</th>
                    <th scope="col">Application Status</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Tenure</th>
                    <th scope="col">Date Created</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var application in (IEnumerable<Applications>)ViewData["ApplicationData"])
                {
                <tr class="table_row">
                    <td>@Html.ActionLink(@application.number,"ApplicationInfo",new {Id=@application.id})</td>
                    <td>@Html.ActionLink(@application.product, "ApplicationInfo", new { Id = @application.id })</td>
                    <td>@application.status</td>
                    <td>@application.requestedamount</td>
                    <td>@application.requestedterm</td>
                    <td>@application.createdOn</td>
                </tr>

                }
            </tbody>
        </table>
    </div>
</div>

