
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <div class="dashboard">
            <img class="dashboard-img" alt="homepage" src="~/homepage-banner.jpg" />
            <div class="btn-img">
                <h3 class="tag-text">Instant Loans at your Fingertips.</h3>
                <p class="tag-text">No Repeat Applications. One time approval needed.</p>
                @*<p class="tag-text">We provide instant loans. Click on Apply now, fill up the details and check for your eligibility.</p>*@
                <div><a class="btn btn-light go-button" href="~/personal.aspx" style="padding-top: 13px;">Apply for Loan</a></div>
            </div>
        </div>     
    </div>    
<div class="row dashboard-page">
    <div class="col-md-2 col-lg-2 q-links-body">
        <h3>Quick Links</h3>
        <div class="quick-links">
            <ul>
                <li class="link-text"><a href="~/Home/LoanEligibilityCheck">Loan Eligibility Calculator</a></li>
                <li class="link-text"><a href="~/personal.aspx">Apply for a loan</a></li>
                <li class="link-text"><a href="~/Home/About">Set Profile</a></li>
                <li class="link-text"><a href="~/Home/Products">All Loans</a></li>
                <li class="link-text"><a href="~/Home/Payment_Records">Quick Pay</a></li>
                <li class="link-text"><a href="~/Service/ServiceCentre">Need Help</a></li>
                <li class="link-text"><a href="~/Home/FAQ">FAQs</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 container home-body">
        <div class="card-row row">
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">

                        <h4><b>@ViewData["top1_prName"]</b></h4>
                        <br />
                        <img class="card-img" src="~/Card-images/classicarloan.jpg" alt="" @*style="width:317px; height:211px;"*@>
                        <br />
                        <br />
                        <p class="card-text">@ViewData["top1_prInfo"]</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Home/ProductsInfo/@ViewData["top1_prId"]" style="padding-top: 13px;">Apply</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>@ViewData["top2_prName"]</b></h4>
                        <br />
                        <img class="card-img" src="~/Card-images/payrollCardImage.jpg" alt="" @*style="width:317px; height:211px;"*@>
                        <br />
                        <br />
                        <p class="card-text">@ViewData["top2_prInfo"]</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Home/ProductsInfo/@ViewData["top2_prId"]" style="padding-top: 13px;">Apply</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>@ViewData["top3_prName"]</b></h4>
                        <br />
                        <img class="card-img" src="~/Card-images/businessVisaCardLoan.jpg" alt="" @*style="width:317px; height:211px;"*@>
                        <br />
                        <br />
                        <p class="card-text">@ViewData["top3_prInfo"]</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Home/ProductsInfo/@ViewData["top3_prId"]" style="padding-top: 13px;">Apply</a></div>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="card-row row">
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>@ViewData["top4_prName"]</b></h4>
                        <br />
                        <img class="card-img" src="~/Card-images/personalLoan.jpg" alt="" @*style="width:317px; height:211px;"*@>
                        <br />
                        <br />
                        <p class="card-text">@ViewData["top4_prInfo"]</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Home/ProductsInfo/@ViewData["top4_prId"]" style="padding-top: 13px;">Apply</a></div>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>@ViewData["top5_prName"]</b></h4>
                        <br />
                        <img class="card-img" src="~/Card-images/homeloanimage.jpg" alt="" @*style="width:317px; height:211px;"*@>
                        <br />
                        <br />
                        <p class="card-text">@ViewData["top5_prInfo"]</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Home/ProductsInfo/@ViewData["top5_prId"]" style="padding-top: 13px;">Apply</a></div>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="container-fluid">
                        <h4><b>@ViewData["top6_prName"]</b></h4>
                        <br />
                        <img class="card-img" src="~/Card-images/TravelCreditCardLoan.jpg" alt="" @*style="width:317px; height:211px;"*@>
                        <br />
                        <br />
                        <p class="card-text">@ViewData["top6_prInfo"]</p>
                        <div class="go-button-div"><a class="btn btn-light button_service_1 go-button" href="/Home/ProductsInfo/@ViewData["top6_prId"]" style="padding-top: 13px;">Apply</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
        


