@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "LoanEligibilityCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        font-family:cursive;
        text-align:center;
    }
</style>
    <div class="container">
        <div style="position: relative center;">
            <h2>Loan Eligibility Calculator</h2>
        </div>
        <br />
        <br />
        <br />
        <form method="post" action="~/Home/GetLoanEligibilityResult">
            <div class="row">
                <div class="col-sm-2">
                    <h3 class="title fs-title" id="header">Loan Amount</h3>
                </div>
                <div class="col-sm-10" style="margin-left: -8%;margin-top: 1%;">
                    <input id="loanAmount" name="loanAmount" class="form-input inp loanamount" />
                </div>
            </div>
            <div id="cont">
                <div id="left"><label>2000</label></div>
                <div id="right"><label>30000</label></div>
            </div>
            <div class="slidecontainer">
                <input id="myRange" type="range" class="slider" min="2000" max="30000" runat="server" />
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <h3 class="title fs-title" id="header">Monthly Income</h3>
                </div>
                <div class="col-sm-10" style="margin-left: -8%;margin-top: 3%;">
                    <input id="MonthlyIncome" name="monthlyIncome" class="form-input inp loanamount" />
                </div>
            </div>
            <div id="cont">
                <div id="left"><label>10000</label></div>
                <div id="right"><label>100000</label></div>
            </div>
            <div class="slidecontainer">
                <input id="myRangeIncome" type="range" class="slider" min="10000" max="100000" runat="server" />
            </div>
            @*<input id="LoanAmount" class="form-input inp" placeholder="Loan Amount" name="loanAmount">*@
            @*<input id="MonthlyIncome" class="form-input inp" placeholder="Net Monthly Income" name="monthlyIncome">*@
            <br />
            <br />
            <div class="row">
                <div class="col-md-6">
                    <select id="loanType" class="form-input" required>
                        <option value="-1">Loan Type</option>
                        <option value="Short Term Loan">Short Term Loan</option>
                        <option value="Long Term Loan">Long Term Loan</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <input id="LoanTenure" class="form-input inp" placeholder="Tenure" name="Tenure">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="date" id="birthdate" class="form-input inp" placeholder="Date of Birth" name="birthdate" />
                </div>
                <div class="col-md-6">
                    <select id="sel_prd" class="form-input" required>
                        <option value="-1" selected>Select Loan</option>
                        @if (ViewData["ProductsData"] != null)
                        {
                            foreach (var prdct in (IEnumerable<Products>)ViewData["ProductsData"])
                            {
                                <option value="@prdct.id">@prdct.name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <input id="submit" class="btn btn-primary" type="submit" data-toggle="modal" data-target="#waituploadModal" value="Submit" />
                </div>
            </div>
            <input hidden id="productId" class="form-input" placeholder="" value=@ViewData["ProductId"] name="auto_product_id" />
            <input hidden id="product_name" class="form-input" placeholder="Loan" value="@ViewData["ProductId"]" name="prdct_id" />
            <input hidden id="typeofloan" class="form-input" placeholder="Loan" name="loan" />
        </form>
        <div class="modal fade" id="waituploadModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div style="position: relative;">
                                <h4 style="text-align: center;">Checking your Eligibility</h4>
                            </div>
                            <br />
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <br />
        <div style="position: relative center;">
            @if (ViewData["Result"] != null)
            {
                <h2 class="congrats_class">Congratulations! You are Eligible for @ViewData["ProductName"].ToString()</h2>
                <div class="row" style="text-align: center;">
                    <input type="button" class="btn btn-primary" style="position: relative center;" value="Apply For Loan" onclick="location.href='@Url.Content("~/personal.aspx")'" />
                </div>
            }
            else if (ViewData["Options"] != null)
            {
                <h2>Sorry! You are Eligible for below loans but not for @ViewData["ProductName"].ToString()</h2>
                <br />
                <br />
                <table class="table">
                    <thead>
                        <tr style="background: powderblue;">
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prd in (IEnumerable<Products>)ViewData["Options"])
                        {
                            <tr class="table_row">
                                <td>@Html.ActionLink(@prd.name, "ProductsInfo", new { Id = @prd.id })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

@Scripts.Render("~/Scripts/about.js")

