@using NBFC_App___dev.Models;

@{
    ViewBag.Title = "PendingSteps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #continueLink a {
        text-decoration: none;
        color: #3737a9;
        cursor: pointer;
    }

        #continueLink a:hover {
            color: #7373d8;
        }
</style>

<script>
    $(document).ready(function () {
        $("#continueLink").click(function () {
            $("#pendingStepsModal").modal("show");
        })
        $("#modal_close").click(function () {
            $('#pendingStepsModal').modal('hide');
        });
    });
</script>

@if (ViewData["PendingSteps"] == null)
{
    <div class="container">
        <div style="position: relative;">
            <h2 style="text-align: center;">My Incomplete Applications</h2>
            <br />
            <div style="text-align: center;">
                <i class="fas fa-envelope fa-9x" style="color: #7da3d2;"></i>
            </div>
            <br />
            <div style="text-align: -webkit-center;">
                <h4 style="color: #d04e8a; max-width: 600px;">
                    There are no Incomplete applications.
                </h4>
            </div>
        </div>
    </div>
}
else
{
<div class="container">
    <div style="position: relative; ">
        <h2 style="text-align: center;">Incomplete Applications</h2>
    </div>
    <br />
    <div class="container-fluid table_view">
        <table class="table">
            <thead>
                <tr style="background: powderblue;">
                    <th scope="col">Loan</th>
                    <th scope="col">LoanType</th>
                    <th scope="col">Tenure</th>
                    <th scope="col">Loan Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">       </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ps in (IEnumerable<PendingSteps>)ViewData["PendingSteps"])
                {
                    <tr class="table_row">
                        <td>@ps.loanname</td>
                        <td>@ps.loantype</td>
                        <td>@ps.loanterm</td>
                        <td>@ps.loanamount</td>
                        <td>@ps.date</td>
                        <td id="continueLink"><a>Continue</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card_view container-fluid">
        @foreach (var ps in (IEnumerable<PendingSteps>)ViewData["PendingSteps"])
            {
                <div class="card card_detail">
                    <div class="card-header"><h3>@ps.loanname</h3></div><br />
                    <div class="card-body">
                        <h4 class="card-title"><b>Status: </b>@ps.loantype</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text"><b>Tenure: </b>@ps.loanterm</p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text"><b>Start Date: </b>@ps.loanamount</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
    <div class="modal" id="pendingStepsModal" tabindex="-1" role="dialog" aria-labelledby="pendingStepsModalLabel" aria-hidden="true" style="overflow: hidden;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="pendingStepsModalLabel" style="font-size: 20px; color: #4a89dc;margin: 0 170px;">Notification</p>
                    <button type="button" class="close" id="modal_close" data-dismiss="modal" aria-label="Continue">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="font-size: 15px;">
                    Do You want to Proceed or Cancel this application?
                </div>
                <div class="modal-footer">
                    @*<input type="button" class="btn btn-primary defaultButton" onclick="location.href='../Home/PendingSteps'" value="Proceed" />
                        <input type="button" class="btn btn-primary defaultButton" onclick="location.href='../Home/PendingSteps'" value="Cancel" />*@
                    <input type="button" class="btn btn-primary defaultButton" onclick="location.href='@Url.Action("ContinuePendingStep", "Home",new { LoanId = ViewData["Step1Id"].ToString()})'" value="Proceed" />
                    <input type="button" class="btn btn-primary defaultButton" onclick="location.href='@Url.Action("CancelPendingStep", "Home",new { LoanId = ViewData["Step1Id"].ToString()})'" value="Cancel" />
                    <button type="button" class="btn btn-secondary defaultButton" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>  
}


