@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "ProductsInfo";
}

@{
    var data = ViewBag.Message;
}

    <div class="container">
        <div style="position: relative;">
            <h2 style="text-align: center;">Loan Parameters</h2>
        </div>
        <br />
        <div style="float: right;">
            <input type="button" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Products", "Home")'" />
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr style="background: powderblue;">
                        <th scope="col">Paramter</th>
                        <th scope="col">Rate (%)</th>
                        <th scope="col">Days</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prdinfo in (IEnumerable<ProductsInfo>)ViewData["ProductsInfoData"])
                    {
                        <tr class="table_row">
                            <td>@prdinfo.parameter</td>
                            <td>@prdinfo.rate</td>
                            <td>@prdinfo.days</td>
                        </tr>
                    }
                </tbody>
            </table>
            <details open>
                <summary>Related Services</summary>

                <table class="table">
                    <thead>
                        <tr style="background: powderblue;">
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ps in (IEnumerable<ProductServices>)ViewData["ProductServices"])
                        {
                            <tr class="table_row">
                                <td>@ps.name</td>

                            </tr>
                        }
                    </tbody>
                </table>

            </details>
            <input type="button" class="btn btn-primary" value="Apply For Loan" onclick="location.href='@Url.Content("~/personal.aspx")'" />
        </div>
    </div>

