@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "ProductsInfo";
}

@{
    var data = ViewBag.Message;
}

    <style>
        p {
            font-size: 22px;
            font-family: cursive;
        }
    </style>

    <div class="container">
        <div style="position: relative;">
            <h2 style="text-align: center;">Loan Parameters</h2>
        </div>
        <br />
        <div style="float: right; margin: 0 14px;">
            <input type="button" class="btn btn-primary defaultButton" value="Back" onclick="location.href='@Url.Action("Products", "Home")'" />
        </div>
        <br />
        <br />
        <br />
        <div class="container-fluid">
            <table class="table" style="background-color: #f5f5f5;">
                <thead>
                    <tr style="background: #98cad0;">
                        <th scope="col">Paramter</th>
                        <th scope="col">Rate (%)</th>
                        <th scope="col">Days</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prdinfo in (IEnumerable<ProductsInfo>)ViewData["ProductsInfoData"])
                    {
                        <tr class="table_row">
                            <td>@prdinfo.parameter</td>
                            <td>@prdinfo.rate</td>
                            <td>@prdinfo.days</td>
                        </tr>
                    }
                </tbody>
            </table>
            <details open style="margin-top: 40px;">
                <summary class="text-center" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 30px;">Related Services</summary>

                <table class="table" style="background-color: #f5f5f5; margin-top: 30px;">
                    <thead>
                        <tr style="background: #98cad0;">
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ps in (IEnumerable<ProductServices>)ViewData["ProductServices"])
                        {
                            <tr class="table_row">
                                <td>@ps.name</td>

                            </tr>
                        }
                    </tbody>
                </table>

            </details>
            <div class="row" style="text-align: center;">
                <div class="col-md-6">
                    <input type="button" class="btn btn-primary defaultButton" value="Apply For Loan" onclick="location.href='@Url.Action("Apply_for_loan_From_ProductInfo", "Home",new { LoanId = ViewData["ProductId"].ToString()})'" />
                </div>
                <div class="col-md-6 sec_button">
                    <input type="button" class="btn btn-primary defaultButton" value="Check Eligiblity" onclick="location.href='@Url.Action("LoanEligibilityCheck", "Home",new { Id = ViewData["ProductId"].ToString()})'" />
                </div>
            </div>
            <br />
            <h2 class="text-center">FAQ's</h2>
            <br />
            <div class="form-card">
                @if (ViewData["productfaq"] != null)
                {
                    foreach (var faq in (IEnumerable<FAQ>)ViewData["productfaq"])
                    {
                        <details>
                            <summary class="faqsummary">@faq.question</summary>
                            <p class="faqanswer">@faq.answer</p>
                        </details>
                    }
                }
            </div>
            </div>
        </div>

