@using NBFC_App___dev.Models;
@{
    ViewBag.Title = "Products";
}

@{
    var data = ViewBag.Message;
}

<div class="container">
    <div style="position: relative;">
        <h2 style="text-align: center;">Loans</h2>
    </div>
    <br />
    <div class="container-fluid">
        <div style="float: right;">
            <input type="button" class="btn btn-primary defaultButton" value="Apply For Loan" onclick="location.href='@Url.Action("Apply_for_loan", "Home")'" />
        </div>
        <br />
        <br />
        <table class="table" style="background-color: #f5f5f5; margin-top: 30px;">
            <thead>
                <tr style="background: #98cad0;">
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prd in (IEnumerable<Products>)ViewData["ProductsData"])
                {
                    <tr class="table_row">
                        <td>@Html.ActionLink(@prd.name, "ProductsInfo", new { Id = @prd.id })</td>
                        <td>@prd.type</td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

